.ip-acceleration-page {
    background-color:rgba(255, 255, 255, 1); 
    height: 3992px;
    overflow: hidden;
    position: relative;
    width: 1440px;
  }

  a{
    color: black
  }
  
  .ip-acceleration-page .group-455 {
    height: 77px;
    left: 120px;
    position: absolute;
    top: 53px;
    width: 1210px;
  }
  
  .ip-acceleration-page .new-png-mleage-1 {
    height: 40px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 18px;
    width: 184px;
  }
  
  .ip-acceleration-page .frame-411 {
    height: 77px;
    left: 497px;
    position: absolute;
    top: 0;
    width: 713px;
  }
  
  .ip-acceleration-page .place-1 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 26px;
  }
  
  .ip-acceleration-page .innovation-opportunity {
    left: 80px;
    letter-spacing: 0;
    position: absolute;
    top: 26px;
  }
  
  .ip-acceleration-page .group-410 {
    height: 24px;
    left: 299px;
    position: absolute;
    top: 26px;
    width: 153px;
  }
  
  .ip-acceleration-page .ip-acceleration {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .ip-acceleration-page .iconly-light-outline-arrow-down-2 {
    height: 24px;
    left: 127px;
    position: absolute;
    top: 0;
    width: 24px;
  }
  
  .ip-acceleration-page .lab {
    left: 482px;
    letter-spacing: 0;
    position: absolute;
    top: 26px;
  }
  
  .ip-acceleration-page .frame-7888 {
    background-color: rgba(243, 115, 53, 1);
    border-radius: 8px;
    height: 77px;
    left: 543px;
    position: absolute;
    top: 0;
    width: 170px;
  }
  
  .ip-acceleration-page .create-account {
    left: 22px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 26px;
  }
  
  .ip-acceleration-page .overlap-group {
    height: 800px;
    left: 120px;
    position: absolute;
    top: 175px;
    width: 1384px;
  }
  
  .ip-acceleration-page .vector-5 {
    height: 800px;
    left: 429px;
    position: absolute;
    top: 0;
    width: 955px;
  }
  
  .ip-acceleration-page .frame-7892 {
    height: 349px;
    left: 0;
    position: absolute;
    top: 98px;
    width: 530px;
  }
  
  .ip-acceleration-page .group-411 {
    height: 228px;
    left: 0;
    position: absolute;
    top: 0;
    width: 534px;
  }
  
  .ip-acceleration-page .title {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 530px;
  }
  
  .ip-acceleration-page .we-are-accelerating {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 156px;
    width: 463px;
  }
  
  .ip-acceleration-page .main-button {
    background-color: rgba(243, 115, 53, 1);
    border-radius: 8px;
    height: 89px;
    left: 0;
    position: absolute;
    top: 260px;
    width: 248px;
  }
  
  .ip-acceleration-page .create-account-1 {
    left: 60px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 32px;
  }
  
  .ip-acceleration-page .rectangle-391 {
    height: 744px;
    left: 584px;
    object-fit: cover;
    position: absolute;
    top: 1px;
    width: 616px;
  }
  
  .ip-acceleration-page .frame-7892-1 {
    background-color: rgba(255, 255, 255, 1); 
    border-radius: 8px;
    box-shadow: 0px 40px 120px 
  #0000001f;
    height: 200px;
    left: 456px;
    position: absolute;
    top: 408px;
    width: 357px;
  }
  
  .ip-acceleration-page .marketleag-teaches-h {
    left: 34px;
    letter-spacing: 0;
    position: absolute;
    top: 106px;
    width: 290px;
  }
  
  .ip-acceleration-page .group-413 {
    height: 60px;
    left: 34px;
    position: absolute;
    top: 30px;
    width: 203px;
  }
  
  .ip-acceleration-page .group-412 {
    height: 53px;
    left: 68px;
    position: absolute;
    top: 3px;
    width: 139px;
  }
  
  .ip-acceleration-page .name {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .ip-acceleration-page .senior-ux-designer {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
  .ip-acceleration-page .ellipse {
    height: 60px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 60px;
  }
  
  .ip-acceleration-page .frame-7892-2 {
    background-color: rgba(255, 255, 255, 1); 
    border-radius: 8px;
    box-shadow: 0px 40px 120px 
  #0000001f;
    height: 200px;
    left: 933px;
    position: absolute;
    top: 577px;
    width: 357px;
  }
  
  .ip-acceleration-page .the-very-fact-that-m {
    left: 34px;
    letter-spacing: 0;
    position: absolute;
    top: 110px;
    width: 290px;
  }
  
  .ip-acceleration-page .group-413-1 {
    height: 60px;
    left: 34px;
    position: absolute;
    top: 27px;
    width: 226px;
  }
  
  .ip-acceleration-page .group-412-1 {
    height: 53px;
    left: 68px;
    position: absolute;
    top: 3px;
    width: 162px;
  }
  
  .ip-acceleration-page .mathias-huysmans {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .ip-acceleration-page .ceo-rose-garden {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
  .ip-acceleration-page .group-456 {
    background-image: url(rectangle-403-1.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 460px;
    left: 0;
    position: absolute;
    top: 1041px;
    width: 1440px;
  }
  
  .ip-acceleration-page .we-are-trused-by-sev {
    left: 382px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 138px;
    width: 677px;
  }
  
  .ip-acceleration-page .over-25000-speciali {
    left: 472px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 274px;
    width: 498px;
  }
  
  .ip-acceleration-page .group-463 {
    height: 404px;
    left: 120px;
    position: absolute;
    top: 1581px;
    width: 1202px;
  }
  
  .ip-acceleration-page .solutions {
    left: 506px;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .ip-acceleration-page .frame-7908 {
    height: 312px;
    left: 0;
    position: absolute;
    top: 92px;
    width: 1200px;
  }
  
  .ip-acceleration-page .frame-7905 {
    background-color: rgba(255, 255, 255, 1); 
    border-radius: 20px;
    height: 312px;
    left: 0;
    position: absolute;
    top: 0;
    width: 399px;
  }
  
  .ip-acceleration-page .group-457 {
    height: 60px;
    left: 23px;
    position: absolute;
    top: 62px;
    width: 215px;
  }
  
  .ip-acceleration-page .frame-443 {
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 60px;
  }
  
  .ip-acceleration-page .cost-saving {
    left: 68px;
    letter-spacing: 0;
    position: absolute;
    top: 12px;
  }
  
  .ip-acceleration-page .we-are-constantly-in {
    left: 23px;
    letter-spacing: 0;
    position: absolute;
    top: 130px;
    width: 353px;
  }
  
  .ip-acceleration-page .frame-7906 {
    background-color: rgba(255, 255, 255, 1); 
    border-radius: 20px;
    box-shadow: 0px 44px 120px 
  #0000001f;
    height: 312px;
    left: 400px;
    position: absolute;
    top: 0;
    width: 399px;
  }
  
  .ip-acceleration-page .group-457-1 {
    height: 60px;
    left: 23px;
    position: absolute;
    top: 62px;
    width: 219px;
  }
  
  .ip-acceleration-page .time-saving {
    left: 68px;
    letter-spacing: 0;
    position: absolute;
    top: 12px;
  }
  
  .ip-acceleration-page .we-help-businesses-a {
    left: 23px;
    letter-spacing: 0;
    position: absolute;
    top: 130px;
    width: 353px;
  }
  
  .ip-acceleration-page .frame-7907 {
    background-color: rgba(255, 255, 255, 1); 
    border-radius: 20px;
    height: 312px;
    left: 801px;
    position: absolute;
    top: 0;
    width: 399px;
  }
  
  .ip-acceleration-page .group-457-2 {
    height: 60px;
    left: 23px;
    position: absolute;
    top: 62px;
    width: 254px;
  }
  
  .ip-acceleration-page .quality-service {
    left: 68px;
    letter-spacing: 0;
    position: absolute;
    top: 12px;
  }
  
  .ip-acceleration-page .as-a-well-placed-cle {
    left: 23px;
    letter-spacing: 0;
    position: absolute;
    top: 130px;
    width: 353px;
  }
  
  .ip-acceleration-page .group-106 {
    height: 557px;
    left: 120px;
    position: absolute;
    top: 2065px;
    width: 1200px;
  }
  
  .ip-acceleration-page .group-461 {
    background-color:rgba(247, 247, 247, 1);
    border-radius: 20px;
    height: 557px;
    position: relative;
  }
  
  .ip-acceleration-page .frame-88 {
    height: 322px;
    left: 77px;
    position: absolute;
    top: 163px;
    width: 1047px;
  }
  
  .ip-acceleration-page .frame-87 {
    background-color: rgba(255, 255, 255, 1); 
    border-radius: 20px;
    height: 322px;
    left: 0;
    position: absolute;
    top: 0;
    width: 333px;
  }
  
  .ip-acceleration-page .thanks-to-marketlea {
    left: 20px;
    letter-spacing: 0;
    position: absolute;
    top: 83px;
    width: 293px;
  }
  
  .ip-acceleration-page .group-86 {
    height: 60px;
    left: 20px;
    position: absolute;
    top: 179px;
    width: 192px;
  }
  
  .ip-acceleration-page .group-85 {
    height: 53px;
    left: 68px;
    position: absolute;
    top: 4px;
    width: 126px;
  }
  
  .ip-acceleration-page .name-1 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .ip-acceleration-page .group-84-1 {
    height: 21px;
    left: 0;
    position: absolute;
    top: 32px;
    width: 75px;
  }
  
  .ip-acceleration-page .place {
    left: 22px;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .ip-acceleration-page .rectangle-45 {
    height: 12px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 3px;
    width: 20px;
  }
  
  .ip-acceleration-page .frame-88-1 {
    background-color: rgba(255, 255, 255, 1); 
    border-radius: 20px;
    height: 322px;
    left: 357px;
    position: absolute;
    top: 0;
    width: 333px;
  }
  
  .ip-acceleration-page .building-a-digital {
    left: 20px;
    letter-spacing: 0;
    position: absolute;
    top: 83px;
    width: 293px;
  }
  
  .ip-acceleration-page .group-86-1 {
    height: 60px;
    left: 20px;
    position: absolute;
    top: 170px;
    width: 204px;
  }
  
  .ip-acceleration-page .group-85-1 {
    height: 53px;
    left: 68px;
    position: absolute;
    top: 4px;
    width: 138px;
  }
  
  .ip-acceleration-page .praine-romanoff {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .ip-acceleration-page .group-84 {
    height: 21px;
    left: 0;
    position: absolute;
    top: 32px;
    width: 138px;
  }
  
  .ip-acceleration-page .frame-89 {
    background-color: rgba(255, 255, 255, 1); 
    border-radius: 20px;
    height: 322px;
    left: 714px;
    position: absolute;
    top: 0;
    width: 333px;
  }
  
  .ip-acceleration-page .the-very-fact-that {
    left: 20px;
    letter-spacing: 0;
    position: absolute;
    top: 83px;
    width: 293px;
  }
  
  .ip-acceleration-page .group-86-2 {
    height: 60px;
    left: 20px;
    position: absolute;
    top: 170px;
    width: 206px;
  }
  
  .ip-acceleration-page .group-85-2 {
    height: 53px;
    left: 68px;
    position: absolute;
    top: 4px;
    width: 140px;
  }
  
  .ip-acceleration-page .name-2 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .ip-acceleration-page .testimonials {
    left: 470px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 71px;
  }
  
  .ip-acceleration-page .group-464 {
    height: 678px;
    left: 0;
    position: absolute;
    top: 3314px;
    width: 1440px;
  }
  
  .ip-acceleration-page .group-419 {
    height: 122px;
    left: 179px;
    position: absolute;
    top: 0;
    width: 1082px;
  }
  
  .ip-acceleration-page .partners {
    left: 455px;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .ip-acceleration-page .frame-7892-3 {
    height: 30px;
    left: 0;
    position: absolute;
    top: 92px;
    width: 1082px;
  }
  
  .ip-acceleration-page .group-455-1 {
    background-color: rgba(10, 10, 10, 1);
    height: 476px;
    left: 0;
    position: absolute;
    top: 202px;
    width: 1440px;
  }
  
  .ip-acceleration-page .group-448 {
    height: 94px;
    left: 120px;
    position: absolute;
    top: 72px;
    width: 217px;
  }
  
  .ip-acceleration-page .new-png-mleage-mark-2 {
    height: 30px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 35px;
  }
  
  .ip-acceleration-page .simplifying-the-innovation-process {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 46px;
    width: 215px;
  }
  
  .ip-acceleration-page .frame-15 {
    height: 166px;
    left: 415px;
    position: absolute;
    top: 72px;
    width: 113px;
  }
  
  .ip-acceleration-page .hotspots {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .ip-acceleration-page .frame-11 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 46px;
    width: 113px;
  }
  
  .ip-acceleration-page .challenge {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .ip-acceleration-page .bazzar {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
  .ip-acceleration-page .ip-help-center {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
  .ip-acceleration-page .lab-1 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
  .ip-acceleration-page .group-449 {
    height: 332px;
    left: 608px;
    position: absolute;
    top: 72px;
    width: 162px;
  }
  
  .ip-acceleration-page .frame-7899 {
    height: 134px;
    left: 0;
    position: absolute;
    top: 0;
    width: 92px;
  }
  
  .ip-acceleration-page .about-us {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .ip-acceleration-page .frame-11-1 {
    height: 88px;
    left: 0;
    position: absolute;
    top: 46px;
    width: 81px;
  }
  
  .ip-acceleration-page .company {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .ip-acceleration-page .products {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
  .ip-acceleration-page .team {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
  .ip-acceleration-page .frame-7900 {
    height: 166px;
    left: 0;
    position: absolute;
    top: 166px;
    width: 162px;
  }
  
  .ip-acceleration-page .place-2 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .ip-acceleration-page .frame-11-2 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 46px;
    width: 162px;
  }
  
  .ip-acceleration-page .privacy-policy {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .ip-acceleration-page .terms-agreement {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
  .ip-acceleration-page .news-blog {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
  .ip-acceleration-page .faq {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
  .ip-acceleration-page .frame-7901 {
    height: 326px;
    left: 849px;
    position: absolute;
    top: 72px;
    width: 183px;
  }
  
  .ip-acceleration-page .industries {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .ip-acceleration-page .frame-11-3 {
    height: 280px;
    left: 0;
    position: absolute;
    top: 46px;
    width: 183px;
  }
  
  .ip-acceleration-page .place-3 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .ip-acceleration-page .agric-agro-allied {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
  .ip-acceleration-page .pharmaceutical {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
  .ip-acceleration-page .healthcare-medicine {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
  .ip-acceleration-page .electronics {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 128px;
  }
  
  .ip-acceleration-page .logistics {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 160px;
  }
  
  .ip-acceleration-page .education {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 192px;
  }
  
  .ip-acceleration-page .finance {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 224px;
  }
  
  .ip-acceleration-page .ict-software {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 256px;
  }
  
  .ip-acceleration-page .frame-7902 {
    height: 318px;
    left: 1112px;
    position: absolute;
    top: 72px;
    width: 208px;
  }
  
  .ip-acceleration-page .contact-us {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .ip-acceleration-page .frame-11-4 {
    height: 272px;
    left: 0;
    position: absolute;
    top: 46px;
    width: 208px;
  }
  
  .ip-acceleration-page .customer-service-hellomarketleagcom {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .ip-acceleration-page .ip-acceleration-ipamarketleagcom {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 56px;
  }
  
  .ip-acceleration-page .innovation-partnersh {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 112px;
  }
  
  .ip-acceleration-page .resource-center-labmarketleagcom {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 168px;
  }
  
  .ip-acceleration-page .solvers-support-solversmarketleagcom {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 224px;
  }
  
  .ip-acceleration-page .group-465 {
    height: 532px;
    left: 120px;
    position: absolute;
    top: 2702px;
    width: 1200px;
  }
  
  .ip-acceleration-page .rectangle-396 {
    height: 532px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 645px;
  }
  
  .ip-acceleration-page .frame-7899-1 {
    height: 405px;
    left: 687px;
    position: absolute;
    top: 64px;
    width: 513px;
  }
  
  .ip-acceleration-page .frame-425 {
    height: 284px;
    left: 0;
    position: absolute;
    top: 0;
    width: 513px;
  }
  
  .ip-acceleration-page .domain-intelligence {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 513px;
  }
  
  .ip-acceleration-page .intellectual-propert {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 68px;
    width: 473px;
  }
  
  .ip-acceleration-page .main-button-1 {
    background-color: rgba(243, 115, 53, 1);
    border-radius: 8px;
    height: 89px;
    left: 0;
    position: absolute;
    top: 316px;
    width: 248px;
  }
  
  .ip-acceleration-page .create-account-2 {
    left: 80px;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
  @import url("https://fonts.googleapis.com/css?family=Poppins:400,700,500,600,800");
  
  .screen a {
    display: contents;
    text-decoration: none;
  }
  
  .container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
  }
  
  .container-center-horizontal > * {
    flex-shrink: 0;
    pointer-events: auto;
  }
  /* font and other styles */
  .poppins-medium-white-16px {
    color:rgba(255, 255, 255, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-medium-gray-14px {
    color: rgba(128, 128, 128, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-white-20px {
    color: rgba(255, 255, 255, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-white-14px {
    color:rgba(255, 255, 255, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-mine-shaft-24px {
    color: rgba(51, 51, 51, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-normal-white-12px {
    color: rgba(255, 255, 255, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 12px;;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-semi-bold-abbey-20px {
    color: rgba(79, 79, 79, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-mine-shaft-40px {
    color: rgba(51, 51, 51, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-burning-orange-20px {
    color: rgba(243, 115, 53, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-mine-shaft-20px {
    color: rgba(51, 51, 51, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-medium-abbey-16px {
    color: rgba(79, 79, 79, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-normal-gray-14px {
    color: rgba(128, 128, 128, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-medium-gray-16px {
    color: rgba(128, 128, 128, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-lucky-point-16px {
    color: rgba(15, 28, 112, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-lucky-point-49px {
    color: rgba(15, 28, 112, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 49px; 
    font-weight: 600;
    font-style: normal;
  }
  .poppins-medium-burning-orange-16px {
    color: rgba(243, 115, 53, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-white-40px {
    color: rgba(255, 255, 255, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-normal-gray-16px {
    color: rgba(128, 128, 128, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-semi-bold-lucky-point-24px {
    color: rgba(15, 28, 112, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-lucky-point-40px {
    color: rgba(15, 28, 112, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-medium-cod-gray-16px {
    color: rgba(10, 10, 10, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-mine-shaft-16px {
    color: rgba(51, 51, 51, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-medium-white-14px {
    color: rgba(255, 255, 255, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-white-24px {
    color: rgba(255, 255, 255, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-white-16px {
    color: rgba(255, 255, 255, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-cod-gray-40px {
    color: rgba(10, 10, 10, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-bold-lucky-point-20px {
    color: rgba(15, 28, 112, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
  }
  .poppins-medium-white-40px {
    color: rgba(255, 255, 255, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-everglade-16px {
    color: rgba(26, 68, 31, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
  }