* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
  }  
    .main-container{
      position: relative;
      overflow-x: hidden;
    }
  
  .header_static{
    width: 100%;
    height: 40px;
    position: fixed;
    background-color: rgba(0,0,0,0.9);
    top: 0;
    left: 0;
  } 
  .header_static .span{
    display: block;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: 10px;
    left: 30px;
    color: white;
  }
  .header_static nav{
    display: flex;
  }
  .header_static img{
    position: absolute;
    top: 5px;
    left: 10px;
    width: 30px;
    height: 25px;
  }
  .active{
    background-color: black;
  }
  .sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 40px;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
    margin: 0 0 0 -20px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
    margin: 4px 0;
  }
  
  .sidenav a:hover {
    background-color:black;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: none;
  }
  .sidenav span{
    display: block;
    font-size: 18px;
  }
  .sidenav nav{
    display: flex;
  }
  .nav__icon{
    margin: 5px 0 0 0;
  }
  nav img{
    margin: 0;
  }
  nav span{
    margin: 0 0 0 20px;
  }
  span{
      font-size:30px;
      cursor:pointer;
      display: none;
  }
  
  .sidenav img{
    width: 20px;
    height: 20px;
  }
  
  .changecolor{
    color:  rgba(243, 115, 53, 1);
  }
  .changecolor:hover{
    cursor: not-allowed;
  }

 .container {
    max-width: 1200px;
    width: 78vw;
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr;
    margin:0 0 0 270px;
}
.container h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    margin-bottom: 10px;
  }
.container h2 span {
    color: rgba(243, 115, 53, 1);
    padding-right: 5px;
    display: block;
  }
.container .box {
    display: grid;
    box-shadow: 0px 0px 10px #000;
  }
.container .box .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(243, 115, 53, 1);
    color: white;
  }
.container .box .info h4 {
    margin: 10px 0;
  }
.container .box .info p {
    margin: 5px 0px;
  }
.container .box .info p:nth-child(4) {
    margin-bottom: 20px;
  }
.container .box h3 {
    background: #efefef;
    padding: 10px;
  }
.container .box form {
    width: 100%;
    display: grid;
    background: #efefef;
    padding: 10px 10px;
  }
.container .box form .name, html body .container .box form .company, html body .container .box form .email, html body .container .box form .tele {
    margin-bottom: 20px;
  }
.container .box form .name label, html body .container .box form .company label, html body .container .box form .email label, html body .container .box form .tele label {
    font-size: 14px;
    opacity: 0.9;
  }
.container .box form .name input, html body .container .box form .company input, html body .container .box form .email input, html body .container .box form .tele input {
    padding: 5px;
    outline: none;
    border: 1px solid #61b1f3;
    width: 95%;
    height: 60%;
  }
.container .box form .message {
    grid-column: 1/3;
  }
.container .box form .message label {
    font-size: 14px;
    opacity: 0.9;
  }
.container .box form .message #message {
    height: 90px;
    width: 100%;
    padding: 5px;
    outline: none;
    border: 1px solid #61b1f3;
  }
.container .box form .submit {
    grid-column: 1/3;
  }
.container .box form .submit input[type=submit] {
    cursor: pointer;
    background: rgba(243, 115, 53, 1);
    letter-spacing: 0.2em;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    display: block;
    max-width: 80%;
    width: 50%;
    margin: auto;
    text-align: center;
    transition: 0.3s linear;
    font-weight: bold;
  }
.container .box form .submit input[type=submit]:hover, html body .container .box form .submit input[type=submit]:focus {
    color: #efefef;
    background: black;
  }
  /* @media (min-width: 700px) {
  .container h2 {
      justify-content: flex-start;
      align-items: flex-end;
      font-size: 2em;
    }
  .container .box {
      grid-template-columns: 1fr 2fr;
    }
  .container .box .info {
      grid-row: 1/3;
      font-size: 1.2em;
    }
    .sidenav {padding-top: 15px;}
    .sidenav span {font-size: 20px;}
    .sidenav { width: 0; }
    .sidenav .closebtn { display: block;}
    span{ display: block; text-align: right; margin: 0 20px 0 0;color: white;}
  } */
  @media (max-width:1200px) 
 {
  .sidenav {padding-top: 15px;}
  .sidenav span {font-size: 20px;}
  .sidenav { width: 0; }
  .sidenav .closebtn { display: block;}
  span{ display: block; text-align: right; margin: 0 20px 0 0;color: white;}
  .container {width: 95vw; margin:20px 0 0 0; }
}

@media (max-width:992px)  {
  .sidenav {padding-top: 15px;}
  .sidenav span {font-size: 20px;}
  .sidenav { width: 0; }
  .sidenav .closebtn { display: block;}
  span{ display: block; text-align: right; margin: 0 20px 0 0;color: white;}
}

@media (max-width:786px)  {
  .sidenav {padding-top: 15px;}
  .sidenav span {font-size: 14px;}
  .sidenav { width: 0; }
  .sidenav .closebtn { display: block;}
  span{ display: block; text-align: right; margin: 0 20px 0 0;color: white;}
}

@media (max-width:600px)  {
  .sidenav {padding-top: 15px;}
  .sidenav span {font-size: 16px;}
  .sidenav { width: 0; }
  .sidenav .closebtn { display: block;}
  span{ display: block; text-align: right; margin: 0 20px 0 0;color: white;}
}

@media (max-width:400px)  {
  .sidenav {padding-top: 0px;}
  .sidenav span {font-size: 13.5px;}
  .sidenav { width: 0; }
  .sidenav .closebtn { display: block;}
  span{ display: block; text-align: right; margin: 0 20px 0 0;color: white;}
}

