body{
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0; 
  width: 100%;   
  color: gray;
  }

  .container{
    position: relative;
    overflow-x: hidden;
  }

.header_static{
  width: 100%;
  height: 40px;
  position: fixed;
  background-color: rgba(0,0,0,0.9);
  top: 0;
  left: 0;
} 
.header_static .span{
  display: block;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  top: 10px;
  left: 30px;
  color: white;
}
.header_static nav{
  display: flex;
}
.header_static img{
  position: absolute;
  top: 5px;
  left: 10px;
  width: 30px;
  height: 25px;
}
.btn-home{
  position: absolute;
  top: 7px;
  left: 250px;
  border: none;
  padding: 5px;
  border-radius:4px;
  font-size: 14px;
}
.btna-home{
  display: none;
}
.active{
  background-color: black;
}
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 40px;
  left: 0;
  background-color: rgba(0,0,0,0.9);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 15px;
  margin: 0 0 0 -20px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
  margin: 4px 0;
}

.sidenav a:hover {
  background-color:black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  display: none;
}
.sidenav span{
  display: block;
  font-size: 18px;
}
.sidenav nav{
  display: flex;
}
.nav__icon{
  margin: 5px 0 0 0;
}
nav img{
  margin: 0;
}
nav span{
  margin: 0 0 0 20px;
}
span{
    font-size:30px;
    cursor:pointer;
    display: none;
}

.sidenav img{
  width: 20px;
  height: 20px;
}

nav .changecolor{
  color:  rgba(243, 115, 53, 0.4);
  text-transform: uppercase;
  margin: 0 30px;
  font-size: 18px;
  cursor:default;
}

.icons{
  position: absolute;
  top: 10px;
  right: 50px;
}
.icons a{
  margin: 0 10px;
  color: whitesmoke;
}
table{
  margin-top:0;
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
  border-bottom: 1px solid white;
  
}

tr{
  font-size: 18px;
}

.main{
  display: flex;
  margin: 40px 0 0 285px;
}
.firstsection{
  width: 65%;
  margin: 0 5px 0 0;
}
.secondsection{
  width: 35%;
  margin: 0 10px 0 5px;
}
.headingtexting{
  display: flex;
}
h3{
  font-size: 24px;
  font-weight: 500;
}
.manage{
  margin: 10px 0 20px auto;
  background-color: black;
  color: whitesmoke;
  padding: 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
.first-box{
  background-color: whitesmoke;
  height: 250px;
}
/* first-section second heading and box */
.headingtexting1{
  display: flex;
}
.view-all{
  margin: 10px 0 20px auto;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.second-box{
  background-color: whitesmoke;
  height: 250px;
}
/* first section third-box */
.headingtext2{
  display: flex;
}
.Application{
  margin: 10px 0 20px auto;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.third-box{
  background-color: whitesmoke;
  height: 250px;
}
.secondsection-box {
  background-color: whitesmoke;
  padding: 20px;
}
.secondsection-box a{
  text-decoration: none;
  margin: 0;
  font-size: 12px;
}
/* setting the profile status */
.profile{
  display: flex;
  margin: 0;
}
.profile span{
  display: block;
  font-size: 16px;
  color: gray;
}
.pro-status{
  margin: -2px 0 0 auto;
  font-size: 20px;
}
/* end setting it */
h4{
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}
.complete{
  display: flex;
}
.complete h4{
  width: 80%;
}
.done{
  display: block;
  font-size: 14px;
  color: gray;
  margin: 0.9px 0 0 auto ;
}
.textheading1{
  display: flex;
}
.open{
  margin: 20px 0 20px auto;
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.secondsection-box2{
  background-color: whitesmoke;
  padding:20px 20px 30px 20px;
}

@media (max-width:1350px) { 
  .sidenav {padding-top: 15px;}
 .sidenav span {font-size: 20px;}
 .sidenav { width: 0; }
 .sidenav .closebtn { display: block;}
 span{ display: block; text-align: right; margin: 0 20px 0 0;color: white;}

    .main{
      display: flex;
      margin: 40px 10px;
      flex-direction: column;
    }
    nav .changecolor{
      font-size: 14px;
      }
    .firstsection{
      width: 100%;
      margin: 0 5px 0 0;
    }
    .secondsection{
      width: 100%;
      margin: 0 10px 0 5px;
    }
    .headingtexting{
      display: flex;
      flex-direction: column;
    }
    .manage{
      margin: 0 0 20px 0;
    }
    .headingtexting1{
      flex-direction: column;
    }
    .view-all{
      margin: 0 0 20px 0;
    }
    .headingtext2{
      flex-direction: column;
    }
    .Application{
      margin: 0 0 20px 0;
    }
    
    /* setting the profile status */
    .profile{
      display: flex;
      margin: 0;
    }
    .profile span{
      display: block;
      font-size: 16px;
    }
    .pro-status{
      margin: -2px 0 0 auto;
      font-size: 20px;
    }
    /* end setting it */
    h4{
      margin: 0;
      font-size: 16px;
      font-weight: 500;
    }
    .textheading1{
      display: flex;
      flex-direction: column;
    }
    .open{
      margin: 0 0 20px 0;
    }
    .secondsection-box2{
      background-color: whitesmoke;
      padding:20px 20px 30px 20px;
    }
  }
  @media (max-width:786px)  {
    .sidenav {padding-top: 15px;}
    .sidenav span {font-size: 16px;}
    .sidenav { width: 0; }
    .sidenav .closebtn { display: block;}
    span{ display: block; text-align: right; margin: 0 20px 0 0;color: white;}
  }
  @media screen and (max-width:600px){
    .icons a{
      margin: 0 1px;
    }
    tr{
      font-size: 12px;
    }
    .btn-home{
      display: none;
    }
    .btna-home{
      display:inline;
    }
  }
 @media (max-width:300px), (max-width:400px) {
  .sidenav {padding-top: 0px;}
  .sidenav span {font-size: 13.5px;}
  .sidenav { width: 0; }
  .sidenav .closebtn { display: block;}
  span{ display: block; text-align: right; margin: 0 20px 0 0;color: white;}
  .header_static .span{
    left: 24px;
    font-size: 15px;
  }
 }