
 /*===== VARIABLES CSS Y SASS =====*/
/*Varibles sass*/
/*Variables css*/
/*===== Colores =====*/
:root {
  --first-color: #12192C;
  --second-color: #F5A623;
  --white-color: #EDEDED;
  --body-color: #E4E9F7;
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: 'Poppins', sans-serif;
  --small-font-size: 0.875rem;
}


/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*===== BASE =====*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
 
  font-family: var(--body-font);
  background-color: var(--white-color);
  -webkit-transition: .5s;
  transition: .5s;
  overflow-x: hidden;
}

.header_static{
  width: 100%;
  height: 40px;
  position: fixed;
  background-color: gray;
  top: 0;
  left: 0;
} 
/* ===== Sidebar ===== */
h1 {
margin: 0;
}

ul, li {
margin: 0;
padding: 0;
list-style: none;
}

a {
text-decoration: none;
}

/*=====  NAV =====*/
.l-navbar {
position:absolute;
top: 40px;
left: 0;
width: 56px;
height: 200vh;
background-color: var(--first-color);
padding: 1.25rem .5rem 2rem;
-webkit-transition: .5s;
transition: .5s;
z-index: var(--z-fixed);
}

.nav {
height: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
overflow: hidden;
}

.nav__logo {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
margin-bottom: 2rem;
padding: 0 .5rem;
}

.nav__logo-icon {
margin-right: 1.2rem;
}

.nav__logo-text {
color: var(--white-color);
font-weight: 700;
}

.nav__toggle {
position: absolute;
top: 1.10rem;
right: -.6rem;
width: 18px;
height: 18px;
background-color: var(--second-color);
border-radius: 50%;
font-size: 1.25rem;
color: var(--first-color);
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
cursor: pointer;
-webkit-transition: .5s;
transition: .5s;
}

.nav__link {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
padding: .5rem;
margin-bottom: 1rem;
border-radius: .5rem;
color: var(--white-color);
-webkit-transition: .3s;
transition: .3s;
}

.nav__link:hover {
background-color: var(--second-color);
color: var(--first-color);
}

.nav__icon {
font-size: 1.5rem;
margin-right: 1rem;
}

.nav__text {
font-weight: 700;
}

/*Show menu*/
.show {
width: 250px;
}

/*Rotate toggle*/
.rotate {
-webkit-transform: rotate(180deg);
        transform: rotate(180deg);
-webkit-transition: .5s;
transition: .5s;
}
.changecolor{
  color:  rgba(243, 115, 53, 1);
}
/*Active links menu*/
.active {
background-color: var(--second-color);
color: var(--first-color);
}

/*Add padding body*/
.expander {
padding: 1rem 0 0 12rem;
-webkit-transition: .5s;
transition: .5s;
}

.nav__toggle b{
  margin-left:35px;
  display: none;
  font-size: 14px;
}
.nav__toggle:hover b{
  display: block;
}
.nav__link img{
  width: 25px;
  height: 20px;
}

.middle{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.divmid{
    padding: 12px;
    padding-top: 20px;
}
.middle1 {
    margin-left: 40px;
    /* height: 800px; */
    width: 60%;
}
.middle2{
    width: 35%;
    
}
.textheading h3{
  display: inline-block;
  font-size: 18px;
}
.middle1-1{
    width: 100%;
    height: 200px;
    background-color: coral;
    margin-top: -10px;
    padding-top: 5px;
}
/* .comp{
    margin-left: 150px;
}
.status{
    margin-left: 150px;
}
p{
    margin-left: 20px;
    padding-top: 5px;
} */
.blue_left{
    margin-left: 370px;
    border-radius: 4px;
    padding: 8px;
    background-color: black;
    color: white;
}
.left1{
    margin-left: 450px;
}
.left2{
  margin-left: 440px;
}
/* .status1{
    margin-left: 230px;
}
.status1-1{
    margin-left: 200px;
}
.comp1{
    margin-left: 200px;
} */
h4{
    margin-left: 10px;
}
#Edit{
    margin-left: 10px;
}
.done{
    margin-left: 130px;
}
.open{
    margin-left: 140px;
    padding: 8px;
    background-color:black;
    color: white;
    border-radius: 4px;
}

.middle2-2{
    width: 100%;
    height: 300px;
    margin-top: -10px;
    padding-top: 5px;
    background-color: coral;
}
table{
  margin-top:0;
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
  border-bottom: 1px solid white;
  
}
thead{
    /* background-color:rgba(243, 115, 53, 1); */
    color: black;
}
tr{
  font-size: 14px;
}

@media (max-width:1200px) { 
  .middle{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}
.middle1 {
  margin-left: 40px;
  width: 100%;
}
.middle2{
  width: 100%;
  margin-left: 40px;
  
}
  .blue_left{
    margin-left: 550px;
  }
  .open{
    margin-left: 650px;
  }
  .left1{
    margin-left: 620px;
}
.left2{
  margin-left: 600px;
}

.comp{
  margin-left: 250px;
}
.status{
  margin-left: 350px;
}
.status1{
  margin-left: 350px;
}
.status1-1{
  margin-left: 250px;
}
.comp1{
  margin-left: 250px;
}
h4{
  margin-left: 10px;
}
.done{
  margin-left: 650px;
}
} 

@media (max-width:1100px) { 
  .middle{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}
.middle1 {
  margin-left: 40px;
  width: 100%;
}
.middle2{
  width: 100%;
  margin-left: 40px;
  
}
  .blue_left{
    margin-left: 350px;
  }
  .open{
    margin-left: 450px;
  }
  .left1{
    margin-left: 420px;
}
.left2{
  margin-left: 400px;
}

.comp{
  margin-left: 250px;
}
.status{
  margin-left: 200px;
}
.status1{
  margin-left: 350px;
}
.status1-1{
  margin-left: 350px;
}
.comp1{
  margin-left: 220px;
}
h4{
  margin-left: 10px;
}
.done{
  margin-left: 50px;
}
} 

  @media screen and (max-width: 800px) {
    .middle{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: column;
  }
  .middle1 {
    margin-left: 40px;
    width: 100%;
}
.middle2{
    width: 100%;
    margin-left: 40px;
    
}
    .blue_left{
      margin-left: 30px;
    }
    .open{
      margin-left: 130px;
    }
    .left1{
      margin-left: 120px;
  }
  .left2{
    margin-left: 105px;
  }

  .comp{
    margin-left: 50px;
}
.status{
    margin-left: 50px;
}
  .status1{
    margin-left: 50px;
}
.status1-1{
    margin-left: 80px;
}
.comp1{
    margin-left: 60px;
}
h4{
    margin-left: 10px;
}
.done{
    margin-left: 50px;
}
  
  }

  @media screen and (max-width: 400px){
    .blue_left{
      margin-left: 300px;
      border-radius: 4px;
      padding: 8px;
      background-color: black;
      color: white;
  }
  .left1{
      margin-left: 400px;
  }
  .left2{
    margin-left: 400px;
    }
}