.innovation-opportunity {
    background-color:  rgba(255, 255, 255, 1); 
    height: 5977px;
    overflow: hidden;
    position: relative;
    width: 1440px;
  }

  a{
    color: black
  }

  .innovation-opportunity .group-7843 {
    height: 922px;
    left: 120px;
    position: absolute;
    top: 53px;
    width: 1384px;
  }
  
  .innovation-opportunity .group-455 {
    height: 77px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1210px;
  }
  
  .innovation-opportunity .new-png-mleage-1 {
    height: 40px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 18px;
    width: 184px;
  }
  
  .innovation-opportunity .frame-411 {
    height: 77px;
    left: 497px;
    position: absolute;
    top: 0;
    width: 713px;
  }
  
  .innovation-opportunity .place {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 26px;
  }
  
  .innovation-opportunity .innovation-opportunity-1 {
    left: 80px;
    letter-spacing: 0;
    position: absolute;
    top: 26px;
  }
  
  .innovation-opportunity .group-410 {
    height: 24px;
    left: 299px;
    position: absolute;
    top: 26px;
    width: 153px;
  }
  
  .innovation-opportunity .ip-acceleration {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .innovation-opportunity .iconly-light-outline-arrow-down-2 {
    height: 24px;
    left: 127px;
    position: absolute;
    top: 0;
    width: 24px;
  }
  
  .innovation-opportunity .lab {
    left: 482px;
    letter-spacing: 0;
    position: absolute;
    top: 26px;
  }
  
  .innovation-opportunity .frame-7888 {
    background-color: rgba(243, 115, 53, 1); 
    border-radius: 8px;
    height: 77px;
    left: 543px;
    position: absolute;
    top: 0;
    width: 170px;
  }
  
  .innovation-opportunity .create-account {
    left: 22px;
    letter-spacing: 0;
    position: absolute;
    top: 26px;
  }
  
  .innovation-opportunity .overlap-group {
    height: 800px;
    left: 0;
    position: absolute;
    top: 122px;
    width: 1384px;
  }
  
  .innovation-opportunity .vector-6 {
    height: 800px;
    left: 429px;
    position: absolute;
    top: 0;
    width: 955px;
  }
  
  .innovation-opportunity .frame-7893 {
    height: 349px;
    left: 0;
    position: absolute;
    top: 98px;
    width: 530px;
  }
  
  .innovation-opportunity .group-411 {
    height: 228px;
    left: 0;
    position: absolute;
    top: 0;
    width: 534px;
  }
  
  .innovation-opportunity .title {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 530px;
  }
  
  .innovation-opportunity .here-bottlenecks-in {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 156px;
    width: 484px;
  }
  
  .innovation-opportunity .main-button {
    background-color:rgba(243, 115, 53, 1); 
    border-radius: 8px;
    height: 89px;
    left: 0;
    position: absolute;
    top: 260px;
    width: 248px;
  }
  
  .innovation-opportunity .create-account-1 {
    left: 60px;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
  .innovation-opportunity .rectangle-392 {
    height: 744px;
    left: 584px;
    object-fit: cover;
    position: absolute;
    top: 1px;
    width: 616px;
  }
  
  .innovation-opportunity .group-7844 {
    height: 1296px;
    left: 120px;
    position: absolute;
    top: 1055px;
    width: 1202px;
  }
  
  .innovation-opportunity .brand-story {
    left: 481px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 0;
  }
  
  .innovation-opportunity .group-466 {
    height: 532px;
    left: 0;
    position: absolute;
    top: 84px;
    width: 1200px;
  }
  
  .innovation-opportunity .rectangle-396 {
    height: 532px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 645px;
  }
  
  .innovation-opportunity .frame-7899 {
    height: 364px;
    left: 687px;
    position: absolute;
    top: 0;
    width: 513px;
  }
  
  .innovation-opportunity .we-are-aware-of-the {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 513px;
  }
  
  .innovation-opportunity .frame-7909 {
    height: 320px;
    left: 0;
    position: absolute;
    top: 44px;
    width: 473px;
  }
  
  .innovation-opportunity .between-industr {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 473px;
  }
  
  .innovation-opportunity .after-listening-to-o {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 88px;
    width: 473px;
  }
  
  .innovation-opportunity .this-relatively-non {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 224px;
    width: 473px;
  }
  
  .innovation-opportunity .group-468 {
    background-color:rgba(10, 10, 10, 1);
    border-radius: 20px;
    height: 656px;
    left: 0;
    position: absolute;
    top: 640px;
    width: 1200px;
  }
  
  .innovation-opportunity .frame-7900 {
    height: 444px;
    left: 55px;
    position: absolute;
    top: 116px;
    width: 513px;
  }
  
  .innovation-opportunity .keeping-eyes-on-technological {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 513px;
  }
  
  .innovation-opportunity .frame-7909-1 {
    height: 400px;
    left: 0;
    position: absolute;
    top: 44px;
    width: 473px;
  }
  
  .innovation-opportunity .innovations-and-e {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 473px;
  }
  
  .innovation-opportunity .upon-learning-the-ga {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 184px;
    width: 473px;
  }
  
  .innovation-opportunity .rectangle-404 {
    height: 535px;
    left: 570px;
    object-fit: cover;
    position: absolute;
    top: 60px;
    width: 605px;
  }
  
  .innovation-opportunity .group-469 {
    height: 238px;
    left: 468px;
    position: absolute;
    top: 2431px;
    width: 507px;
  }
  
  .innovation-opportunity .marketleag-a-brand {
    left: 3px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 142px;
    width: 498px;
  }
  
  .innovation-opportunity .new-png-mleage-2 {
    height: 110px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 505px;
  }
  
  .innovation-opportunity .group-473 {
    background-color: rgba(252, 252, 252, 1); 
    height: 457px;
    left: 0;
    position: absolute;
    top: 2749px;
    width: 1440px;
  }
  
  .innovation-opportunity .group-419 {
    height: 148px;
    left: 478px;
    position: absolute;
    top: 93px;
    width: 502px;
  }
  
  .innovation-opportunity .our-core-values {
    left: 84px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 0;
  }
  
  .innovation-opportunity .as-a-team-we-are-co {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 76px;
    width: 498px;
  }
  
  .innovation-opportunity .frame-7910 {
    height: 92px;
    left: 174px;
    position: absolute;
    top: 273px;
    width: 1093px;
  }
  
  .innovation-opportunity .frame-444 {
    height: 92px;
    left: 0;
    position: absolute;
    top: 0;
    width: 60px;
  }
  
  .innovation-opportunity .frame-442 {
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 60px;
  }
  
  .innovation-opportunity .private {
    left: 1px;
    letter-spacing: 0;
    position: absolute;
    top: 68px;
  }
  
  .innovation-opportunity .frame-7894 {
    height: 92px;
    left: 140px;
    position: absolute;
    top: 0;
    width: 69px;
  }
  
  .innovation-opportunity .frame-442-2 {
    height: 60px;
    left: 4px;
    position: absolute;
    top: 0;
    width: 60px;
  }
  
  .innovation-opportunity .integrity {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 68px;
  }
  
  .innovation-opportunity .frame-7895 {
    height: 92px;
    left: 289px;
    position: absolute;
    top: 0;
    width: 113px;
  }
  
  .innovation-opportunity .frame-442-1 {
    height: 60px;
    left: 26px;
    position: absolute;
    top: 0;
    width: 60px;
  }
  
  .innovation-opportunity .accountabiliy {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 68px;
  }
  
  .innovation-opportunity .frame-7896 {
    height: 92px;
    left: 482px;
    position: absolute;
    top: 0;
    width: 113px;
  }
  
  .innovation-opportunity .transperency {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 68px;
  }
  
  .innovation-opportunity .frame-7897 {
    height: 92px;
    left: 675px;
    position: absolute;
    top: 0;
    width: 87px;
  }
  
  .innovation-opportunity .frame-442-3 {
    height: 60px;
    left: 14px;
    position: absolute;
    top: 0;
    width: 60px;
  }
  
  .innovation-opportunity .innovative {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 68px;
  }
  
  .innovation-opportunity .frame-7898 {
    height: 92px;
    left: 842px;
    position: absolute;
    top: 0;
    width: 98px;
  }
  
  .innovation-opportunity .frame-442-4 {
    height: 60px;
    left: 19px;
    position: absolute;
    top: 0;
    width: 60px;
  }
  
  .innovation-opportunity .trustworthy {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 68px;
  }
  
  .innovation-opportunity .frame-7899-1 {
    height: 92px;
    left: 1020px;
    position: absolute;
    top: 0;
    width: 73px;
  }
  
  .innovation-opportunity .frame-442-5 {
    height: 60px;
    left: 6px;
    position: absolute;
    top: 0;
    width: 60px;
  }
  
  .innovation-opportunity .excellent {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 68px;
  }
  
  .innovation-opportunity .group-475 {
    height: 962px;
    left: 120px;
    position: absolute;
    top: 3286px;
    width: 1202px;
  }
  
  .innovation-opportunity .products-and-services {
    left: 374px;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .innovation-opportunity .group-474 {
    height: 870px;
    left: 0;
    position: absolute;
    top: 92px;
    width: 1200px;
  }
  
  .innovation-opportunity .frame-7911 {
    height: 419px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1200px;
  }
  
  .innovation-opportunity .how-we-work-card {
    background-color: rgba(255, 255, 255, 1); 
    border-radius: 20px;
    box-shadow: 0px 30px 100px 
  #00000014;
    height: 419px;
    left: 10px;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
  .innovation-opportunity .frame-443 {
    height: 104px;
    left: 20px;
    position: absolute;
    top: 32px;
    width: 226px;
  }
  
  .innovation-opportunity .challenge {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 68px;
  }
  
  .innovation-opportunity .we-accept-research-p {
    left: 20px;
    letter-spacing: 0;
    position: absolute;
    top: 168px;
    width: 347px;
  }
  
  .innovation-opportunity .how-we-work-card-1 {
    background-color: rgba(255, 255, 255, 1); 
    border-radius: 20px;
    box-shadow: 0px 30px 100px 
  #00000014;
    height: 419px;
    left: 406px;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
  .innovation-opportunity .frame-443-1 {
    height: 104px;
    left: 20px;
    position: absolute;
    top: 32px;
    width: 339px;
  }
  
  .innovation-opportunity .research-and-development {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 68px;
  }
  
  .innovation-opportunity .we-are-unveiling-inn {
    left: 20px;
    letter-spacing: 0;
    position: absolute;
    top: 168px;
    width: 347px;
  }
  
  .innovation-opportunity .how-we-work-card-2 {
    background-color: rgba(255, 255, 255, 1); 
    border-radius: 20px;
    box-shadow: 0px 30px 100px 
  #00000014;
    height: 419px;
    left: 803px;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
  .innovation-opportunity .frame-443-2 {
    height: 104px;
    left: 20px;
    position: absolute;
    top: 32px;
    width: 282px;
  }
  
  .innovation-opportunity .technology-incubation {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 68px;
  }
  
  .innovation-opportunity .we-facilitate-onward {
    left: 20px;
    letter-spacing: 0;
    position: absolute;
    top: 168px;
    width: 347px;
  }
  
  .innovation-opportunity .frame-7912 {
    height: 419px;
    left: 187px;
    position: absolute;
    top: 451px;
    width: 826px;
  }
  
  .innovation-opportunity .frame-443-3 {
    height: 104px;
    left: 20px;
    position: absolute;
    top: 32px;
    width: 253px;
  }
  
  .innovation-opportunity .corporate-venturing {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 68px;
  }
  
  .innovation-opportunity .we-are-fast-tracking {
    left: 20px;
    letter-spacing: 0;
    position: absolute;
    top: 168px;
    width: 347px;
  }
  
  .innovation-opportunity .how-we-work-card-3 {
    background-color:  rgba(255, 255, 255, 1); 
    border-radius: 20px;
    box-shadow: 0px 30px 100px 
  #00000014;
    height: 419px;
    left: 416px;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
  .innovation-opportunity .frame-443-4 {
    height: 104px;
    left: 20px;
    position: absolute;
    top: 32px;
    width: 183px;
  }
  
  .innovation-opportunity .ip-acceleration-1 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 68px;
  }
  
  .innovation-opportunity .we-provide-intellect {
    left: 20px;
    letter-spacing: 0;
    position: absolute;
    top: 168px;
    width: 347px;
  }
  
  .innovation-opportunity .group-7842 {
    height: 1093px;
    left: 0;
    position: absolute;
    top: 4328px;
    width: 1442px;
  }
  
  .innovation-opportunity .overlap-group1 {
    background-color:rgba(15, 28, 112, 0.039); 
    height: 1093px;
    position: relative;
    width: 1440px;
  }
  
  .innovation-opportunity .rectangle-1134 {
    height: 311px;
    left: 525px;
    object-fit: cover;
    position: absolute;
    top: 169px;
    width: 389px;
  }
  
  .innovation-opportunity .rectangle-1137 {
    height: 311px;
    left: 120px;
    object-fit: cover;
    position: absolute;
    top: 626px;
    width: 389px;
  }
  
  .innovation-opportunity .rectangle-1138 {
    height: 311px;
    left: 930px;
    object-fit: cover;
    position: absolute;
    top: 636px;
    width: 389px;
  }
  
  .innovation-opportunity .rectangle-1139 {
    height: 311px;
    left: 120px;
    object-fit: cover;
    position: absolute;
    top: 169px;
    width: 389px;
  }
  
  .innovation-opportunity .rectangle-1135 {
    height: 311px;
    left: 930px;
    object-fit: cover;
    position: absolute;
    top: 169px;
    width: 389px;
  }
  
  .innovation-opportunity .rectangle-1136 {
    height: 311px;
    left: 525px;
    object-fit: cover;
    position: absolute;
    top: 636px;
    width: 389px;
  }
  
  .innovation-opportunity .group-7838 {
    height: 68px;
    left: 617px;
    position: absolute;
    top: 502px;
    width: 210px;
  }
  
  .innovation-opportunity .oluwakemi-adeleke {
    height: 28px;
    left: 0;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .innovation-opportunity .co-founder {
    height: 24px;
    left: 55px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 44px;
    white-space: nowrap;
  }
  
  .innovation-opportunity .group-7837 {
    height: 68px;
    left: 212px;
    position: absolute;
    top: 502px;
    width: 210px;
  }
  
  .innovation-opportunity .founder-prunny-int {
    height: 24px;
    left: 28px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 44px;
    white-space: nowrap;
  }
  
  .innovation-opportunity .group-7840 {
    height: 68px;
    left: 617px;
    position: absolute;
    top: 969px;
    width: 210px;
  }
  
  .innovation-opportunity .surname {
    height: 24px;
    left: 22px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 44px;
    white-space: nowrap;
  }
  
  .innovation-opportunity .group-7841 {
    height: 68px;
    left: 1022px;
    position: absolute;
    top: 969px;
    width: 210px;
  }
  
  .innovation-opportunity .product-manager {
    height: 24px;
    left: 33px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 44px;
    white-space: nowrap;
  }
  
  .innovation-opportunity .group-7839 {
    height: 68px;
    left: 212px;
    position: absolute;
    top: 969px;
    width: 210px;
  }
  
  .innovation-opportunity .scrum-master {
    height: 24px;
    left: 47px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 44px;
    white-space: nowrap;
  }
  
  .innovation-opportunity .group-7836 {
    height: 68px;
    left: 1022px;
    position: absolute;
    top: 502px;
    width: 210px;
  }
  
  .innovation-opportunity .product-lead {
    height: 24px;
    left: 53px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 44px;
    white-space: nowrap;
  }
  
  .innovation-opportunity .meet-the-team {
    height: 60px;
    left: 567px;
    letter-spacing: 0;
    line-height: 150px;
    position: absolute;
    text-align: center;
    top: 62px;
    white-space: nowrap;
    width: 307px;
  }
  
  .innovation-opportunity .group-456 {
    background-color: rgba(10, 10, 10, 1);
    height: 476px;
    left: 0;
    position: absolute;
    top: 5501px;
    width: 1440px;
  }
  
  .innovation-opportunity .group-448 {
    height: 94px;
    left: 120px;
    position: absolute;
    top: 72px;
    width: 217px;
  }
  
  .innovation-opportunity .new-png-mleage-mark-2 {
    height: 30px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 35px;
  }
  
  .innovation-opportunity .simplifying-the-innovation-process {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 46px;
    width: 215px;
  }
  
  .innovation-opportunity .frame-15 {
    height: 166px;
    left: 415px;
    position: absolute;
    top: 72px;
    width: 113px;
  }
  
  .innovation-opportunity .hotspots {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .innovation-opportunity .frame-11 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 46px;
    width: 113px;
  }
  
  .innovation-opportunity .challenge-1 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .innovation-opportunity .bazzar {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
  .innovation-opportunity .ip-help-center {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
  .innovation-opportunity .lab-1 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
  .innovation-opportunity .group-449 {
    height: 332px;
    left: 608px;
    position: absolute;
    top: 72px;
    width: 162px;
  }
  
  .innovation-opportunity .frame-7899-2 {
    height: 134px;
    left: 0;
    position: absolute;
    top: 0;
    width: 92px;
  }
  
  .innovation-opportunity .about-us {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .innovation-opportunity .frame-11-1 {
    height: 88px;
    left: 0;
    position: absolute;
    top: 46px;
    width: 81px;
  }
  
  .innovation-opportunity .company {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .innovation-opportunity .products {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
  .innovation-opportunity .team {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
  .innovation-opportunity .frame-7900-1 {
    height: 166px;
    left: 0;
    position: absolute;
    top: 166px;
    width: 162px;
  }
  
  .innovation-opportunity .place-1 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .innovation-opportunity .frame-11-2 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 46px;
    width: 162px;
  }
  
  .innovation-opportunity .privacy-policy {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .innovation-opportunity .terms-agreement {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
  .innovation-opportunity .news-blog {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
  .innovation-opportunity .faq {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
  .innovation-opportunity .frame-7901 {
    height: 326px;
    left: 849px;
    position: absolute;
    top: 72px;
    width: 183px;
  }
  
  .innovation-opportunity .industries {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .innovation-opportunity .frame-11-3 {
    height: 280px;
    left: 0;
    position: absolute;
    top: 46px;
    width: 183px;
  }
  
  .innovation-opportunity .place-2 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .innovation-opportunity .agric-agro-allied {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
  .innovation-opportunity .pharmaceutical {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
  .innovation-opportunity .healthcare-medicine {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
  .innovation-opportunity .electronics {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 128px;
  }
  
  .innovation-opportunity .logistics {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 160px;
  }
  
  .innovation-opportunity .education {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 192px;
  }
  
  .innovation-opportunity .finance {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 224px;
  }
  
  .innovation-opportunity .ict-software {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 256px;
  }
  
  .innovation-opportunity .frame-7902 {
    height: 318px;
    left: 1112px;
    position: absolute;
    top: 72px;
    width: 208px;
  }
  
  .innovation-opportunity .contact-us {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .innovation-opportunity .frame-11-4 {
    height: 272px;
    left: 0;
    position: absolute;
    top: 46px;
    width: 208px;
  }
  
  .innovation-opportunity .customer-service-hellomarketleagcom {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
  .innovation-opportunity .ip-acceleration-ipamarketleagcom {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 56px;
  }
  
  .innovation-opportunity .innovation-partnersh {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 112px;
  }
  
  .innovation-opportunity .resource-center-labmarketleagcom {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 168px;
  }
  
  .innovation-opportunity .solvers-support-solversmarketleagcom {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 224px;
  }

  @import url("https://fonts.googleapis.com/css?family=Poppins:400,700,500,600,800");
  
  .screen a {
    display: contents;
    text-decoration: none;
  }
  
  .container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
  }
  
  .container-center-horizontal > * {
    flex-shrink: 0;
    pointer-events: auto;
  }
  
  .valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* font and others styles */
  .poppins-medium-white-16px {
    color:  rgba(255, 255, 255, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-medium-gray-14px {
    color: rgba(128, 128, 128, 1); 
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-white-20px {
    color: rgba(255, 255, 255, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-white-14px {
    color: rgba(255, 255, 255, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-mine-shaft-24px {
    color: rgba(51, 51, 51, 1);
    font-family:'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-normal-white-12px {
    color: rgba(255, 255, 255, 1); 
    font-family:'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-semi-bold-abbey-20px {
    color: rgba(79, 79, 79, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-mine-shaft-40px {
    color: rgba(51, 51, 51, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-burning-orange-20px {
    color: rgba(243, 115, 53, 1); 
    font-family: 'Poppins', sans-serif;
    font-size:20px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-mine-shaft-20px {
    color: rgba(51, 51, 51, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-medium-abbey-16px {
    color: rgba(79, 79, 79, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-normal-gray-14px {
    color: rgba(128, 128, 128, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-medium-gray-16px {
    color: rgba(128, 128, 128, 1);
    font-family:'Poppins', sans-serif;
    font-size:16px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-lucky-point-16px {
    color:  rgba(15, 28, 112, 1); 
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-lucky-point-49px {
    color:  rgba(15, 28, 112, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 49px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-medium-burning-orange-16px {
    color:rgba(243, 115, 53, 1); 
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-white-40px {
    color:  rgba(255, 255, 255, 1); 
    font-family:'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-normal-gray-16px {
    color: rgba(128, 128, 128, 1);
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-semi-bold-lucky-point-24px {
    color:  rgba(15, 28, 112, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-lucky-point-40px {
    color:  rgba(15, 28, 112, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-medium-cod-gray-16px {
    color: rgba(10, 10, 10, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-mine-shaft-16px {
    color: rgba(51, 51, 51, 1);
    font-family:'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-medium-white-14px {
    color:  rgba(255, 255, 255, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-white-24px {
    color:  rgba(255, 255, 255, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-white-16px {
    color:  rgba(255, 255, 255, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-cod-gray-40px {
    color:rgba(10, 10, 10, 1);
    font-family:'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-bold-lucky-point-20px {
    color: rgba(15, 28, 112, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
  }
  .poppins-medium-white-40px {
    color: rgba(255, 255, 255, 1); 
    font-family:'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-everglade-16px {
    color: rgba(26, 68, 31, 1); 
    font-family:'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
  }