body{
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0; 
    width: 100%;   
    }
  
    .container{
      position: relative;
      overflow-x: hidden;
    }
  
  .header_static{
    width: 100%;
    height: 40px;
    position: fixed;
    background-color: rgba(0,0,0,0.9);
    top: 0;
    left: 0;
  } 
  .header_static .span{
    display: block;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: 10px;
    left: 30px;
    color: white;
  }
  .header_static nav{
    display: flex;
  }
  .header_static img{
    position: absolute;
    top: -30px;
    left: 10px;
    width: 200px;
    height: 90px;
  }
  .icons{
    position: absolute;
    top: 10px;
    right: 50px;
  }
  .icons a{
    margin: 0 10px;
    color: whitesmoke;
  }
  .btn-home{
    position: absolute;
    top: 7px;
    left: 250px;
    border: none;
    padding: 3px;
    border-radius:4px;
    font-size: 14px;
    background-color: #fff;
    cursor: pointer;
    text-decoration: none;
    color: gray;
  }
  .btna-home{
    display: none;
  }
  .profiledetails{
    position: absolute;
    right: 100px;
    top: 40px;
    background-color: #fff;
    box-shadow: 0 0 2px black;
    padding: 10px;
    display: none;
  }
  .profiledetails a, .profiledetails p{
    display: block;
    text-decoration: none;
    color: gray;
    font-size: .9rem;
    padding:2px 10px;
    margin: 0;
  }
  .profiledetails a:hover{
    background-color: gray;
    color: #fff;
  }
  #showUser{
    width: 20px;
    height: 20px;
    top: 2px;
    left: -25px;
    border: 1px solid #000;
    cursor: pointer;
    /* margin-bottom: -4px; */
  }
  .active{
    background-color: black;
  }
  .sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 40px;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
    margin: 0 0 0 -20px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
    margin: 4px 0;
  }
  
  .sidenav a:hover {
    background-color:black;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: none;
  }
  .sidenav span{
    display: block;
    font-size: 18px;
  }
  .sidenav nav{
    display: flex;
  }
  .nav__icon{
    margin: 5px 0 0 0;
  }
  nav img{
    margin: 0;
  }
  nav span{
    margin: 0 0 0 20px;
  }
  span{
      font-size:30px;
      cursor:pointer;
      display: none;
  }
  
  .sidenav img{
    width: 20px;
    height: 20px;
  }
  nav .changecolor{
    color:  gray;
    text-transform: uppercase;
    margin: 0 30px;
    font-size: 18px;
    cursor:default;
}
 .mainsections{
   margin: 50px 0 0 300px;
 }

  .btnsend{
      border-radius: 10px;
      border: none;
      padding: 20px;
      background-color: #000;
      color: #fff;
      font-size: 20px;
      cursor: pointer;
  }
  small{
      font-size: 12px;
  }
  
#form {
    display: none;
    margin: 20px 200px 50px 0;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h3 {
    color: #0f2027;
    font-weight: 500;
    text-align: left;
    font-size: 1.1rem;
}
#form .pcenter{
    text-align: center;
    font-size: 18px;
}

#form h2 {
    color: #0f2027;
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgba(243, 115, 53, 1);
    border: none;
    border-radius: 4px;
    font-size: 1em;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 95%;
}

.input-control input:focus {
    outline: 0;
}

#already{
    text-align: center;
    margin-bottom: 50px;
}

#Agreement{
    text-align: center;
    font-size: 1rem;
}

.input-control textarea {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	min-width: 95%;
    max-width: 95%;
    min-height: 50px;
    max-height: 100px;

}

.input-control input[type = "checkbox"]{
    width: 10%;
}
p{
    font-size: 1.2rem;
}
.input-control.success input{
    border-color: #09c372;
}

.input-control.error input{
    border-color: #ff3860;
}

.input-control textarea:focus {
    outline: 0;
}

.input-control.success textarea{
    border-color: #09c372;
}

.input-control.error textarea{
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}
label{
    font-size: 1.2rem;
    margin: 5px 0;
}

.Copyrightselect, .trademarkselect, .Patentselect, .Designselect {
    display:none;
}

/* All Registration page */

.registration-section, .regirationsection, .regiration_section, .regiration__section{
    display: none;
}

/* All Renewal section */

.renewal_section, .renewal-section, .renewalSection{
    display: none;
}

.commercialized-section,.commercializedSection, .commercialized_section, .commercialized__section{
    display: none;
}
.litigationSection, .litigation_section, .litigation__section, .litigation-section{
    display: none;
}
table{
  margin-top:0;
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}
th{
  background-color: gray;
  color: #fff;
}
th, td {
  padding: 10px;
  border-bottom: 1px solid white;
  
}

tr{
  font-size: 18px;
}
.trhover:hover{
  background-color:rgba(243, 115, 53, 1);
  color: #fff;
  cursor: pointer;
}

.feedbackheadding{
  display: flex;
}
h3{
  font-size: 24px;
  font-weight: 500;
}
.manage{
  margin: 10px 20px 20px auto;
  background-color: black;
  color: whitesmoke;
  padding: 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.first-box{
  background-color: whitesmoke;
  height: 250px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 30px;
}

/* Modal Content/Box */
.modal-content {
  border-radius: 10px;
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.Courseclose {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 350px;
  top: 50px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.Courseclose:hover,
.Courseclose:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
.new-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.new-container a{
  text-align: center;
  text-decoration: none;
  background-color: rgba(243, 115, 53, 1);
  padding: 10px;
  margin: 10px 0;
  border-bottom: 2px solid black;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.new-container a:hover{
   opacity: 0.5;
}




@media (max-width:1200px) {
 .sidenav {padding-top: 15px;}
 .sidenav span {font-size: 15px;}
 .sidenav { width: 0; }
 .sidenav .closebtn { display: block;}
 span{ display: block; text-align: right; margin: 0 20px 0 0;color: white;}
 #form { margin: 20px 90px 20px 0px;}
 .mainsections{
  margin: 50px 0 0 20px;
}
nav .changecolor{
  font-size: 14px;
  }
.feedbackheadding{
  display: flex;
  flex-direction: column;
}
.manage{
  margin: 0 10px 20px 0;
}

}

@media (max-width:992px)  {
 .sidenav {padding-top: 15px;}
 .sidenav span {font-size: 15px;}
 .sidenav { width: 0; }
 .sidenav .closebtn { display: block;}
 span{ display: block; text-align: right; margin: 0 20px 0 0;color: white;}
 #form { margin: 20px 90px 20px 0px;}
}

@media (max-width:786px)  {
 .sidenav {padding-top: 15px;}
 .sidenav span {font-size: 14px;}
 .sidenav { width: 0; }
 .sidenav .closebtn { display: block;}
 span{ display: block; text-align: right; margin: 0 20px 0 0;color: white;}
 #form { margin: 20px 90px 20px 0px;}
}

@media (max-width:600px)  {
 .sidenav {padding-top: 15px;}
 .sidenav span {font-size: 15px;}
 .sidenav { width: 0; }
 .sidenav .closebtn { display: block;}
 span{ display: block; text-align: right; margin: 0 20px 0 0;color: white;}
 #form { margin: 20px 20px 20px 0px;}
 .icons a{
  margin: 0 1px;
}
tr{
  font-size: 12px;
}
.btn-home{
  display: none;
}
.btna-home{
  display:inline;
}
}

@media (max-width:400px)  {
 .sidenav {padding-top: 0px;}
 .sidenav span {font-size: 13.5px;}
 .sidenav { width: 0; }
 .sidenav .closebtn { display: block;}
 span{ display: block; text-align: right; margin: 0 20px 0 0;color: white;}
 #form { margin: 20px 5px 20px 0px;}
 .btn-home{
  display: none;
}
.btna-home{
  display: inline;
}
.icons a{
  margin: 0 1px;
}
.header_static .span{
  top: 13px;
  left: 20px;
  font-size: 16px;
}
.btnsend{
  padding: 10px;
  font-size: 16px;
}
}
