 /* {
    background-color: rgba(255, 255, 255, 1); 
    height: 8233px;
    overflow: hidden;
    position: relative;
    width: 1440px;
  } */
  body{
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 1); 
    
    }
    .header{
      overflow: hidden;
      background-color:rgba(255, 255, 255, 1);
      padding: 20px 30px;
    }
    /* styling the header link */
    .header a {
      float: left;
      color: black;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 1.2em;
      line-height: 25px;
      border-radius: 4px;
      text-transform: uppercase;
      font-family:'Poppins', sans-serif;
    }
    /* styling the logo */
    
    .header a.logo{
      font-size: 1.7em;
      font-weight: bold;
    }
    /* hover */
    .header a:hover{
      background-color: #ddd;
      color: black;
    }
    .header a.active{
      /* background-color: dodgerblue; */
      color:rgba(243, 115, 53, 1);
    }
    .header-right{
      float: none;
      margin-left: 400px;
    }
    .header-right a.reg{
      margin-left: 10px;
      background-color: rgba(243, 115, 53, 1);
      border-radius: 8px;  
      padding: 10px 15px;
      color: rgba(255, 255, 255, 1);
      font-family:'Poppins', sans-serif;
    }
    
    .group-7843 {
    height: 922px;
    left: 120px;
    position: absolute;
    top: 53px;
    width: 1384px;
  }
  
    .group-455 {
    height: 77px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1210px;
  }
  
    .new-png-mleage-1 {
    height: 40px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 18px;
    width: 184px;
  }
  
    .frame-411 {
    height: 77px;
    left: 497px;
    position: absolute;
    top: 0;
    width: 713px;
  }
  
    .place {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 26px;
  }
  
    .innovation-opportunity {
    left: 80px;
    letter-spacing: 0;
    position: absolute;
    top: 26px;
  }
  
    .group-410 {
    height: 24px;
    left: 299px;
    position: absolute;
    top: 26px;
    width: 153px;
  }
  
    .ip-acceleration {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .iconly-light-outline-arrow-down-2 {
    height: 24px;
    left: 127px;
    position: absolute;
    top: 0;
    width: 24px;
  }
  
     /* -1 {
    left: 482px;
    letter-spacing: 0;
    position: absolute;
    top: 26px;
  }
   */
    .frame-7888 {
    background-color: rgba(243, 115, 53, 1);
    border-radius: 8px;
    height: 77px;
    left: 543px;
    position: absolute;
    top: 0;
    width: 170px;
  }
  
    .create-account {
    left: 22px;
    letter-spacing: 0;
    position: absolute;
    top: 26px;
  }
  
    .overlap-group {
    height: 800px;
    left: 0;
    position: absolute;
    top: 122px;
    width: 1384px;
  }
  
    .vector-6 {
    height: 550px;
    left: 600px;
    position: absolute;
    top: 0;
    width: 620px;
  }
  
    .frame-7893 {
    height: 325px;
    left: 20px;
    position: absolute;
    top: 98px;
    width: 530px;
  }
  
    .group-411 {
    height: 204px;
    left: 0;
    position: absolute;
    top: 0;
    width: 534px;
  }
  
    .title {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 530px;
  }
  
    .we-provide-the-best {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 156px;
    width: 484px;
  }
  
    /* .main-button {
    background-color: rgba(243, 115, 53, 1);
    border-radius: 8px;
    height: 89px;
    left: 0;
    position: absolute;
    top: 236px;
    width: 248px;
  } */
  .main-button {
    background-color: rgba(243, 115, 53, 1);
    border-radius: 8px;
    left: 0;
    position: absolute;
    top: 240px;    
    padding: 20px;
    border: none;
    color: rgba(255, 255, 255, 1);
    font-family:'Poppins', sans-serif;
    font-size:  1.2em;;
    font-weight: 500;
    font-style: normal;
}
.main-button:hover{
  cursor: pointer;
  opacity: 0.7;
}
  
    .create-account-1 {
    left: 60px;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .rectangle-392 {
    height: 444px;
    left: 584px;
    object-fit: cover;
    position: absolute;
    top: 50px;
    width: 616px;
    border-radius: 20px;
  }
  
    .group-7851 {
    height: 1590px;
    left: 120px;
    position: absolute;
    top: 700px;
    width: 1202px;
  }
  
    .technology-design {
    left: 367px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 0;
  }
  
    .group-7850 {
    height: 1498px;
    left: 0;
    position: absolute;
    top: 92px;
    width: 1200px;
  }
  
    .frame-7915 {
    height: 726px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1200px;
  }
  
    .group-7847 {
    height: 726px;
    left: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .frame-7846 {
    height: 518px;
    left: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .rectangle-1149 {
    height: 254px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .frame-7845 {
    height: 248px;
    left: 0;
    position: absolute;
    top: 270px;
    width: 387px;
  }
  
    .td-001-applied-tech {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .as-a-prerequisite-fo {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 80px;
    width: 387px;
  }
  
    .frame-7913 {
    height: 176px;
    left: 0;
    position: absolute;
    top: 550px;
    width: 387px;
  }
  
    .certificate-yes {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .cost-free {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .sessions-5 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
    .date {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
    .other-requirement-r {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 128px;
    width: 392px;
  }
  
    .group-7848-1 {
    height: 726px;
    left: 406px;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .frame-7846-3 {
    height: 482px;
    left: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .frame-7845-3 {
    height: 212px;
    left: 0;
    position: absolute;
    top: 270px;
    width: 387px;
  }
  
    .td-001-applied-tech-1 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .as-a-prerequisite-fo-1 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 44px;
    width: 387px;
  }
  
    .frame-7913-4 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 514px;
    width: 387px;
  }
  
    .certificate-yes-1 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .cost-free-1 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .sessions-5-1 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
    .date-1 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
    .group-7849 {
    height: 726px;
    left: 813px;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .frame-7846-4 {
    height: 494px;
    left: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .frame-7845-4 {
    height: 224px;
    left: 0;
    position: absolute;
    top: 270px;
    width: 387px;
  }
  
    .td-001-applied-tech-2 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .as-a-prerequisite-fo-2 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 80px;
    width: 387px;
  }
  
    .frame-7913-5 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 526px;
    width: 387px;
  }
  
    .certificate-yes-2 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .cost-free-2 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .sessions-5-2 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
    .date-2 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
    .frame-7916 {
    height: 726px;
    left: 203px;
    position: absolute;
    top: 772px;
    width: 794px;
  }
  
    .td-001-applied-tech-3 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .as-a-prerequisite-fo-3 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 80px;
    width: 387px;
  }
  
    .certificate-yes-3 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .cost-free-3 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .sessions-5-3 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
    .date-3 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
    .group-7848 {
    height: 726px;
    left: 407px;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .frame-7846-5 {
    height: 578px;
    left: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .frame-7845-5 {
    height: 308px;
    left: 0;
    position: absolute;
    top: 270px;
    width: 387px;
  }
  
    .td-001-applied-tech-4 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .as-a-prerequisite-fo-4 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 116px;
    width: 387px;
  }
  
    .frame-7913-6 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 610px;
    width: 387px;
  }
  
    .certificate-yes-4 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .cost-free-4 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .sessions-5-4 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
    .date-4 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
    .group-7854 {
    background-color: rgba(252, 252, 252, 1);
    height: 971px;
    left: 0;
    position: absolute;
    top: 2300px;
    width: 1440px;
  }
  
    .literary-artistic {
    left: 516px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 69px;
  }
  
    .group-7850-1 {
    height: 742px;
    left: 120px;
    position: absolute;
    top: 161px;
    width: 794px;
  }
  
    .frame-7846-6 {
    height: 590px;
    left: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .frame-7845-6 {
    height: 320px;
    left: 0;
    position: absolute;
    top: 270px;
    width: 387px;
  }
  
    .td-001-applied-tech-5 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .as-a-prerequisite-fo-5 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 80px;
    width: 387px;
  }
  
    .frame-7913-7 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 622px;
    width: 387px;
  }
  
    .certificate-yes-5 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .cost-free-5 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .sessions-5-5 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
    .date-5 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
    .frame-7846-7 {
    height: 602px;
    left: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .frame-7845-7 {
    height: 332px;
    left: 0;
    position: absolute;
    top: 270px;
    width: 387px;
  }
  
    .td-001-applied-tech-6 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .as-a-prerequisite-fo-6 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 116px;
    width: 387px;
  }
  
    .frame-7913-8 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 634px;
    width: 387px;
  }
  
    .certificate-yes-6 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .cost-free-6 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .sessions-5-6 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
    .date-6 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
    .group-7855 {
    background-color: rgba(252, 252, 252, 1);
    height: 1126px;
    left: 0;
    position: absolute;
    top: 4300px;
    width: 1440px;
  }
  
    .executive-intelligence {
    left: 476px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 69px;
  }
  
    .group-7850-2 {
    height: 884px;
    left: 120px;
    position: absolute;
    top: 161px;
    width: 1200px;
  }
  
    .group-7847-1 {
    height: 883px;
    left: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .frame-7846-8 {
    height: 734px;
    left: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .frame-7845-8 {
    height: 464px;
    left: 0;
    position: absolute;
    top: 270px;
    width: 387px;
  }
  
    .td-001-applied-tech-7 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .as-a-prerequisite-fo-7 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 80px;
    width: 387px;
  }
  
    .frame-7913-9 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 766px;
    width: 387px;
  }
  
    .certificate-yes-7 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .cost-free-7 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .sessions-5-7 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
    .date-7 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
    .group-7848-2 {
    height: 884px;
    left: 406px;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .frame-7846-9 {
    height: 446px;
    left: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .frame-7845-9 {
    height: 176px;
    left: 0;
    position: absolute;
    top: 270px;
    width: 387px;
  }
  
    .td-001-applied-tech-8 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .as-a-prerequisite-fo-8 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 80px;
    width: 387px;
  }
  
    .frame-7913-10 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 478px;
    width: 387px;
  }
  
    .certificate-yes-8 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .cost-free-8 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .sessions-5-8 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
    .date-8 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
    .group-7849-1 {
    height: 766px;
    left: 813px;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .frame-7846-1 {
    height: 710px;
    left: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .frame-7845-1 {
    height: 440px;
    left: 0;
    position: absolute;
    top: 270px;
    width: 387px;
  }
  
    .td-001-applied-tech-9 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .as-a-prerequisite-fo-9 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 80px;
    width: 387px;
  }
  
    .frame-7913-1 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 742px;
    width: 387px;
  }
  
    .certificate-yes-9 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .cost-free-9 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .sessions-5-9 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
    .date-9 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
    .group-7853 {
    height: 959px;
    left: 120px;
    position: absolute;
    top: 3300px;
    width: 1202px;
  }
  
    .talent-management {
    left: 381px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 438px;
  }
  
    .group-7850-3 {
    height: 858px;
    left: 0;
    position: absolute;
    top: 101px;
    width: 1200px;
  }
  
    .group-7847-2 {
    height: 858px;
    left: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .frame-7846-10 {
    height: 542px;
    left: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .frame-7845-10 {
    height: 272px;
    left: 0;
    position: absolute;
    top: 270px;
    width: 387px;
  }
  
    .td-001-applied-tech-10 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .as-a-prerequisite-fo-10 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 80px;
    width: 387px;
  }
  
    .frame-7913-11 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 574px;
    width: 387px;
  }
  
    .certificate-yes-10 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .cost-free-10 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .sessions-5-10 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
    .date-10 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
    .group-7848-3 {
    height: 858px;
    left: 406px;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .td-001-applied-tech-11 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .as-a-prerequisite-fo-11 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 152px;
    width: 387px;
  }
  
    .certificate-yes-11 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .cost-free-11 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .sessions-5-11 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
    .date-11 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
    .group-7849-2 {
    height: 858px;
    left: 813px;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .frame-7846-2 {
    height: 698px;
    left: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .frame-7845-2 {
    height: 428px;
    left: 0;
    position: absolute;
    top: 270px;
    width: 387px;
  }
  
    .td-001-applied-tech-12 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .as-a-prerequisite-fo-12 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 116px;
    width: 387px;
  }
  
    .frame-7913-2 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 730px;
    width: 387px;
  }
  
    .certificate-yes-12 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .cost-free-12 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .sessions-5-12 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
    .date-12 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
    .group-7856 {
    height: 1671px;
    left: 120px;
    position: absolute;
    top: 5422px;
    width: 1202px;
  }
  
    .general-issues {
    left: 441px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 0;
  }
  
    .group-7857 {
    height: 1579px;
    left: 0;
    position: absolute;
    top: 92px;
    width: 1200px;
  }
  
    .frame-7915-1 {
    height: 670px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1200px;
  }
  
    .group-7847-3 {
    height: 670px;
    left: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .gi-001-intellectual {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .businesses-and-indiv {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 80px;
    width: 387px;
  }
  
    .frame-7913-3 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 550px;
    width: 387px;
  }
  
    .certificate-yes-13 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .cost-free-13 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .sessions-1 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
    .date-13 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
    .group-7848-4 {
    height: 670px;
    left: 406px;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .gi-002-innovation-and-problem-solving {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .problem-solving-in-t {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 80px;
    width: 387px;
  }
  
    .certificate-yes-14 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .cost-200 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .sessions-2 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
    .date-14 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
    .group-7849-3 {
    height: 646px;
    left: 813px;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .frame-7846-11 {
    height: 554px;
    left: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .frame-7845-11 {
    height: 284px;
    left: 0;
    position: absolute;
    top: 270px;
    width: 387px;
  }
  
    .gi-003-innovation-t {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .there-are-specific-i {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 116px;
    width: 387px;
  }
  
    .frame-7913-12 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 586px;
    width: 387px;
  }
  
    .certificate-no {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .cost-free-14 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .sessions-1-1 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
    .date-15 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
    .frame-7916-1 {
    height: 844px;
    left: 203px;
    position: absolute;
    top: 735px;
    width: 794px;
  }
  
    .frame-7846-12 {
    height: 470px;
    left: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .frame-7845-12 {
    height: 200px;
    left: 0;
    position: absolute;
    top: 270px;
    width: 387px;
  }
  
    .gi-004-innovation-i {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .this-workshop-is-rec {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 80px;
    width: 387px;
  }
  
    .frame-7913-13 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 502px;
    width: 387px;
  }
  
    .certificate-no-1 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .cost-free-15 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .sessions-3 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
    .date-16 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
    .group-7848-5 {
    height: 844px;
    left: 407px;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .gi-005-academic-sta {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
    .in-the-absence-of-so {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 116px;
    width: 387px;
  }
  
    .certificate-yes-15 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .cost-250 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .sessions-3-1 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
    .date-17 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
    .group-7845 {
    background-color: rgba(10, 10, 10, 1);
    height: 476px;
    left: 0;
    position: absolute;
    top: 7200px;
    width: 1440px;
  }
  
    .group-448 {
    height: 94px;
    left: 120px;
    position: absolute;
    top: 72px;
    width: 217px;
  }
  
    .new-png-mleage-mark-2 {
    height: 30px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 35px;
  }
  
    .simplifying-the-innovation-process {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 46px;
    width: 215px;
  }
  
    .frame-15 {
    height: 166px;
    left: 415px;
    position: absolute;
    top: 72px;
    width: 113px;
  }
  
    .hotspots {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .frame-11 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 46px;
    width: 113px;
  }
  
    .challenge {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .bazzar {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .ip-help-center {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
     /* -2 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  } */
  
    .group-449 {
    height: 332px;
    left: 608px;
    position: absolute;
    top: 72px;
    width: 162px;
  }
  
    .frame-7899 {
    height: 134px;
    left: 0;
    position: absolute;
    top: 0;
    width: 92px;
  }
  
    .about-us {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .frame-11-1 {
    height: 88px;
    left: 0;
    position: absolute;
    top: 46px;
    width: 81px;
  }
  
    .company {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .products {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .team {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
    .frame-7900 {
    height: 166px;
    left: 0;
    position: absolute;
    top: 166px;
    width: 162px;
  }
  
    .place-1 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .frame-11-2 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 46px;
    width: 162px;
  }
  
    .privacy-policy {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .terms-agreement {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .news-blog {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
    .faq {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
    .frame-7901 {
    height: 326px;
    left: 849px;
    position: absolute;
    top: 72px;
    width: 183px;
  }
  
    .industries {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .frame-11-3 {
    height: 280px;
    left: 0;
    position: absolute;
    top: 46px;
    width: 183px;
  }
  
    .place-2 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .agric-agro-allied {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .pharmaceutical {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
    .healthcare-medicine {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
    .electronics {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 128px;
  }
  
    .logistics {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 160px;
  }
  
    .education {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 192px;
  }
  
    .finance {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 224px;
  }
  
    .ict-software {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 256px;
  }
  
    .frame-7902 {
    height: 318px;
    left: 1112px;
    position: absolute;
    top: 72px;
    width: 208px;
  }
  
    .contact-us {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .frame-11-4 {
    height: 272px;
    left: 0;
    position: absolute;
    top: 46px;
    width: 208px;
  }
  
    .customer-service-hellomarketleagcom {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .ip-acceleration-ipamarketleagcom {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 56px;
  }
  
    .innovation-partnersh {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 112px;
  }
  
    .resource-center-labmarketleagcom {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 168px;
  }
  
    .solvers-support-solversmarketleagcom {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 224px;
  }
  
  @import url("https://fonts.googleapis.com/css?family=Poppins:400,700,500,600,800");
  
  .screen a {
    display: contents;
    text-decoration: none;
  }
  
  .container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
  }
  
  .container-center-horizontal > * {
    flex-shrink: 0;
    pointer-events: auto;
  }
  /* font and other styles */
  .poppins-medium-white-16px {
    color:  rgba(255, 255, 255, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-medium-gray-14px {
    color:rgba(128, 128, 128, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-white-20px {
    color: rgba(255, 255, 255, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-white-14px {
    color: rgba(255, 255, 255, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-mine-shaft-24px {
    color: rgba(51, 51, 51, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-normal-white-12px {
    color: rgba(255, 255, 255, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 12px;;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-semi-bold-abbey-20px {
    color: rgba(79, 79, 79, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-mine-shaft-40px {
    color: rgba(51, 51, 51, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-burning-orange-20px {
    color: rgba(243, 115, 53, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-mine-shaft-20px {
    color: rgba(51, 51, 51, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-medium-abbey-16px {
    color: rgba(79, 79, 79, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-normal-gray-14px {
    color: rgba(128, 128, 128, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-medium-gray-16px {
    color: rgba(128, 128, 128, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-lucky-point-16px {
    color: rgba(15, 28, 112, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-lucky-point-49px {
    color: rgba(15, 28, 112, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 49px; 
    font-weight: 600;
    font-style: normal;
  }
  .poppins-medium-burning-orange-16px {
    color: rgba(243, 115, 53, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-white-40px {
    color: rgba(255, 255, 255, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-normal-gray-16px {
    color:rgba(128, 128, 128, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-semi-bold-lucky-point-24px {
    color: rgba(15, 28, 112, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-lucky-point-40px {
    color: rgba(15, 28, 112, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 37px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-medium-cod-gray-16px {
    color: rgba(10, 10, 10, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-mine-shaft-16px {
    color: rgba(51, 51, 51, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-medium-white-14px {
    color:rgba(255, 255, 255, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-white-24px {
    color: rgba(255, 255, 255, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-white-16px {
    color: rgba(255, 255, 255, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-cod-gray-40px {
    color: rgba(10, 10, 10, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-bold-lucky-point-20px {
    color: rgba(15, 28, 112, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
  }
  .poppins-medium-white-40px {
    color: rgba(255, 255, 255, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-everglade-16px {
    color: rgba(26, 68, 31, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
  }