body{
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;

  
  }
  .header{
    overflow: hidden;
    background-color:rgba(255, 255, 255, 1);
    padding: 20px 30px;
  }
  /* styling the header link */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 25px;
    border-radius: 4px;
    text-transform: capitalize;
    font-family:'Poppins', sans-serif;
  }
  /* styling the logo */
  
  .header a.logo{
    font-size: 1.7em;
    font-weight: bold;
    padding: 0;
  }
  /* hover */
  .header a:hover{
    background-color: #ddd;
    color: black;
  }
  .header a.logo:hover{
    background-color: white;
  }
  .header a.icon {
      display: none;
    }
  .header a.active{
    /* background-color: dodgerblue; */
    color: rgba(243, 115, 53, 1);
  }
  .header-right{
    float: none;
    margin-left: 300px;
  }
  .header-right a.reg{
    margin-left: 10px;
    background-color: rgba(243, 115, 53, 1);
    border-radius: 8px;  
    padding: 10px 15px;
    color: rgba(255, 255, 255, 1);
    font-family:'Poppins', sans-serif;
  }
  #consent-popup {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 2px 8px;
      background-color: #fff;
      transition: opacity 1s ease;
      width: 400px;
      margin: 0 1%;
      display: flex;
      flex-direction: column;
    }
    .hidden {
      opacity: 0;
    }
    .notice{
      font-family:'Poppins', sans-serif;
    }
    #accept{
      text-decoration: none;
      background-color: rgba(243, 115, 53, 1);
      color: black;
      padding:8px;
      text-align: center;
      margin: 0 230px 0 50px;
      border-radius: 8px;
      font-size: 1.2em;
      font-family:'Poppins', sans-serif;
    }
  #myBtn {
    display: none; 
    position: fixed;
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgba(243, 115, 53, 1);
    cursor: pointer;
    padding: 5px; 
    border-radius: 25px; 
  }
  
  #myBtn:hover {
    background-color: #555; 
  }

    .first-section{
        display: flex;
        margin: 20px;
    }
    .first-section1{
        width: 50%;
        padding: 20px;
    }
    .first-section1 h1{
        color: rgba(15, 28, 112, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 49px; 
    font-weight: 600;
    font-style: normal;
    margin-right: 150px;
    }
    .first-section1 p{
        color: rgba(128, 128, 128, 1);
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        margin-right: 150px;
    }
    .main-button a{
      text-decoration: none;
      color: rgba(255, 255, 255, 1);

    }
    .main-button {
        background-color: rgba(243, 115, 53, 1);
        border-radius: 8px;
        padding: 20px;
        border: none;
        font-size:  1.2em;;
        font-weight: 500;
        font-style: normal;
    }
    .main-button:hover{
      cursor: pointer;
      opacity: 0.7;
    }

    .first-section2 img{
      width: 600px;
      height: 500px;
    }
    /* second section */
    .second-section h2{
        color: rgba(15, 28, 112, 1); 
        font-family: 'Poppins', sans-serif;
        font-size: 37px;
        font-weight: 600;
        font-style: normal;
        text-align: center;
        text-transform: uppercase;
        background-image: url("/images/rectangle-392-2-lab.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 50px;
        padding: 50px;
    }
.tech-design, .tech-design-2{
    display: flex;
}
.tech-design1, .tech-design2{
    padding: 10px;
    margin: 20px;
    box-shadow: 0 0 5px gray;
    border-radius: 8px;
    width: 100%;
}
.tech-design1 a, .tech-design2 a{
    text-decoration: none;
}
.tech-design1 h4, .tech-design2 h4{
    text-align: center;
    color: rgba(15, 28, 112, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
}
.tech-design1 p, .tech-design2 p{
    margin: 5px;
    color: rgba(128, 128, 128, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
}
.tech-design1 span, .tech-design2 span{
    background-color:rgba(243, 115, 53, 1);
    padding: 1px 8px;
    color: white;
    margin: 5px;
}
/* third section */
.third-section{
    background-color: whitesmoke;
    padding: 50px;
}
.third-section h2{
    color: rgba(15, 28, 112, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 37px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    background-image: url("/images/rectangle-392-2-lab.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50px;
    padding: 50px;
}
.lit-art{
display: flex;
}
.lit-art1{
padding: 10px;
margin: 20px;
background-color: white;
border-radius: 8px;
width: 100%;
}
.lit-art a{
text-decoration: none;
}
.lit-art1 h4{
text-align: center;
color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 24px;
font-weight: 600;
font-style: normal;
}
.lit-art p{
margin: 5px;
color: rgba(128, 128, 128, 1);
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 500;
font-style: normal;
}
.lit-art1 span{
background-color:rgba(243, 115, 53, 1);
padding: 1px 8px;
color: white;
margin: 5px;
}
/* forth section */
.forth-section{
    background-color: whitesmoke;
    padding: 50px;
}
.forth-section h2{
    color: rgba(15, 28, 112, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 37px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    background-image: url("/images/rectangle-392-2-lab.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50px;
    padding: 50px;
}
.executive-int{
display: flex;
}
.executive-int1{
padding: 10px;
margin: 20px;
background-color: white;
border-radius: 8px;
width: 100%;
}
.executive-int a{
text-decoration: none;
}
.executive-int1 h4{
text-align: center;
color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 24px;
font-weight: 600;
font-style: normal;
}
.executive-int p{
margin: 5px;
color: rgba(128, 128, 128, 1);
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 500;
font-style: normal;
}
.executive-int1 span{
background-color:rgba(243, 115, 53, 1);
padding: 1px 8px;
color: white;
margin: 5px;
}

/* fifty section */
.fifty-section{
    background-color: whitesmoke;
    padding: 50px;
}
.fifty-section h2{
    color: rgba(15, 28, 112, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 37px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    background-image: url("/images/rectangle-392-2-lab.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50px;
    padding: 50px;
}
.talent-man{
display: flex;
}
.talent-man1{
padding: 10px;
margin: 20px;
background-color: white;
border-radius: 8px;
width: 100%;
}
.talent-man a{
text-decoration: none;
}
.talent-man1 h4{
text-align: center;
color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 24px;
font-weight: 600;
font-style: normal;
}
.talent-man p{
margin: 5px;
color: rgba(128, 128, 128, 1);
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 500;
font-style: normal;
}
.talent-man1 span{
background-color:rgba(243, 115, 53, 1);
padding: 1px 8px;
color: white;
margin: 5px;
}

/* sixty section */
.sixty-section{
    background-color: whitesmoke;
    padding: 50px;
}
.sixty-section h2{
    color: rgba(15, 28, 112, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 37px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    background-image: url("/images/rectangle-392-2-lab.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50px;
    padding: 50px;
}
.general, .general-2{
display: flex;
}
.general1, .general2{
padding: 10px;
margin: 20px;
background-color: white;
border-radius: 8px;
width: 100%;
}
.general a, .general-2 a{
text-decoration: none;
}
.general1 h4, .general2 h4{
text-align: center;
color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 24px;
font-weight: 600;
font-style: normal;
}
.general p, .general-2 p{
margin: 5px;
color: rgba(128, 128, 128, 1);
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 500;
font-style: normal;
}
.general1 span, .general2 span{
background-color:rgba(243, 115, 53, 1);
padding: 1px 8px;
color: white;
margin: 5px;
}
/* footer */
.footer{
    display: flex;
    background-color: black;
    padding: 50px;
}
.footer a, .footer p{
    display: block;
    padding: 5px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size:  16px;;
    font-weight: 500;
    font-style: normal;
}
.footer h3{
    color: rgba(255, 255, 255, 1);
    font-family:'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
}
.footer1, .footer2, .footer3, .footer4, .footer5{
    padding: 10px;
    margin: 20px;
    width: 20%;
}

@media (max-width:1200px) {
       
  .header a.logo{
   
    display: block;
  }
  .header-right{
    float: none;
    margin: 0 70px 0 50px;
  }
  .header-right a.reg{
    margin-right: 0;
    background-color: rgba(243, 115, 53, 1);
    border-radius: 8px;  
    padding: 10px 5px;
    color: rgba(255, 255, 255, 1);
    font-family:'Poppins', sans-serif;
  }
  .header a{display: none;}
  .header a.icon {
    float: right;
    display: block;
  }

  .header.responsive {position: relative;}
  .header.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  .first-section{
    display: flex;
    margin: 20px;
}
.first-section1{
    width: 50%;
    padding: 20px;
}
.first-section1 h1{
    color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 49px; 
font-weight: 600;
font-style: normal;
margin-right: 30px;
}
.first-section1 p{
    color: rgba(128, 128, 128, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    margin-right: 50px;
}
.main-button {
    background-color: rgba(243, 115, 53, 1);
    border-radius: 8px;
    padding: 20px;
    border: none;
    color: rgba(255, 255, 255, 1);
    font-size:  1.2em;;
    font-weight: 500;
    font-style: normal;
}
.main-button:hover{
  cursor: pointer;
  opacity: 0.7;
}

.first-section2 img{
  width: 500px;
  height: 400px;
}
/* second section */
.second-section h2{
    color: rgba(15, 28, 112, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 37px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    background-image: url("/images/rectangle-392-2-lab.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50px;
    padding: 60px;
}
.tech-design, .tech-design-2{
display: flex;
flex-direction: column;
}
.tech-design1, .tech-design2{
padding: 10px;
margin: 20px;
box-shadow: 0 0 5px gray;
border-radius: 8px;
width: 95%;
}
.tech-design1 a, .tech-design2 a{
text-decoration: none;
}
.tech-design1 h4, .tech-design2 h4{
text-align: center;
color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 24px;
font-weight: 600;
font-style: normal;
}
.tech-design1 p, .tech-design2 p{
margin: 5px;
color: rgba(128, 128, 128, 1);
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 500;
font-style: normal;
}
.tech-design1 span, .tech-design2 span{
background-color:rgba(243, 115, 53, 1);
padding: 1px 8px;
color: white;
margin: 5px;
}
/* third section */
.third-section{
background-color: whitesmoke;
padding: 50px;
}
.third-section h2{
color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 37px;
font-weight: 600;
font-style: normal;
text-align: center;
text-transform: uppercase;
background-image: url("/images/rectangle-392-2-lab.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 50px;
    padding: 60px;
}
.lit-art{
display: flex;
flex-direction: column;
}
.lit-art1{
padding: 10px;
margin: 20px;
background-color: white;
border-radius: 8px;
width: 100%;
}
.lit-art a{
text-decoration: none;
}
.lit-art1 h4{
text-align: center;
color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 24px;
font-weight: 600;
font-style: normal;
}
.lit-art p{
margin: 5px;
color: rgba(128, 128, 128, 1);
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 500;
font-style: normal;
}
.lit-art1 span{
background-color:rgba(243, 115, 53, 1);
padding: 1px 8px;
color: white;
margin: 5px;
}
/* forth section */
.forth-section{
background-color: whitesmoke;
padding: 50px;
}
.forth-section h2{
color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 37px;
font-weight: 600;
font-style: normal;
text-align: center;
text-transform: uppercase;
background-image: url("/images/rectangle-392-2-lab.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 50px;
    padding: 60px;
}
.executive-int{
display: flex;
flex-direction: column;
}
.executive-int1{
padding: 10px;
margin: 20px;
background-color: white;
border-radius: 8px;
width: 100%;
}
.executive-int a{
text-decoration: none;
}
.executive-int1 h4{
text-align: center;
color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 24px;
font-weight: 600;
font-style: normal;
}
.executive-int p{
margin: 5px;
color: rgba(128, 128, 128, 1);
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 500;
font-style: normal;
}
.executive-int1 span{
background-color:rgba(243, 115, 53, 1);
padding: 1px 8px;
color: white;
margin: 5px;
}

/* fifty section */
.fifty-section{
background-color: whitesmoke;
padding: 50px;
}
.fifty-section h2{
color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 37px;
font-weight: 600;
font-style: normal;
text-align: center;
text-transform: uppercase;
background-image: url("/images/rectangle-392-2-lab.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 50px;
    padding: 60px;
}
.talent-man{
display: flex;
flex-direction: column;
}
.talent-man1{
padding: 10px;
margin: 20px;
background-color: white;
border-radius: 8px;
width: 100%;
}
.talent-man a{
text-decoration: none;
}
.talent-man1 h4{
text-align: center;
color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 24px;
font-weight: 600;
font-style: normal;
}
.talent-man p{
margin: 5px;
color: rgba(128, 128, 128, 1);
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 500;
font-style: normal;
}
.talent-man1 span{
background-color:rgba(243, 115, 53, 1);
padding: 1px 8px;
color: white;
margin: 5px;
}

/* sixty section */
.sixty-section{
background-color: whitesmoke;
padding: 50px;
}
.sixty-section h2{
color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 37px;
font-weight: 600;
font-style: normal;
text-align: center;
text-transform: uppercase;
background-image: url("/images/rectangle-392-2-lab.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 50px;
    padding: 60px;
}
.general, .general-2{
display: flex;
flex-direction: column;
}
.general1, .general2{
padding: 10px;
margin: 20px;
background-color: white;
border-radius: 8px;
width: 100%;
}
.general a, .general-2 a{
text-decoration: none;
}
.general1 h4, .general2 h4{
text-align: center;
color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 24px;
font-weight: 600;
font-style: normal;
}
.general p, .general-2 p{
margin: 5px;
color: rgba(128, 128, 128, 1);
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 500;
font-style: normal;
}
.general1 span, .general2 span{
background-color:rgba(243, 115, 53, 1);
padding: 1px 8px;
color: white;
margin: 5px;
}
/* footer */
.footer{
display: flex;
background-color: black;
padding: 50px;
}
.footer a, .footer p{
display: block;
padding: 5px;
text-decoration: none;
color: rgba(255, 255, 255, 1);
font-size:  16px;;
font-weight: 500;
font-style: normal;
}
.footer h3{
color: rgba(255, 255, 255, 1);
font-family:'Poppins', sans-serif;
font-size: 16px;
font-weight: 600;
font-style: normal;
}
.footer1, .footer2, .footer3, .footer4, .footer5{
padding: 10px;
margin: 20px;
width: 20%;
}
}
@media (max-width:1100px) {
       
  .header a.logo{
   
    display: block;
  }
  .header-right{
    float: none;
    margin: 0 70px 0 50px;
  }
  .header-right a.reg{
    margin-right: 0;
    background-color: rgba(243, 115, 53, 1);
    border-radius: 8px;  
    padding: 10px 5px;
    color: rgba(255, 255, 255, 1);
    font-family:'Poppins', sans-serif;
  }
  .header a{display: none;}
  .header a.icon {
    float: right;
    display: block;
  }

  .header.responsive {position: relative;}
  .header.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  .first-section{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.first-section1{
    width: 100%;
    padding: 20px;
}
.first-section1 h1{
    color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 49px; 
font-weight: 600;
font-style: normal;
margin:0 30px;
}
.first-section1 p{
    color: rgba(128, 128, 128, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    margin:0 180px;
}
.main-button {
    background-color: rgba(243, 115, 53, 1);
    border-radius: 8px;
    padding: 20px;
    border: none;
    color: rgba(255, 255, 255, 1);
    font-size:  1.2em;;
    font-weight: 500;
    font-style: normal;
    margin: 0 250px;
}
.main-button:hover{
  cursor: pointer;
  opacity: 0.7;
}

.first-section2 img{
  width: 100%;
  height: 500px;
}
/* second section */
.second-section h2{
    color: rgba(15, 28, 112, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 37px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    background-image: url("/images/rectangle-392-2-lab.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50px;
    padding: 50px;
}
.tech-design, .tech-design-2{
display: flex;
flex-direction: column;
}
.tech-design1, .tech-design2{
padding: 10px;
margin: 20px;
box-shadow: 0 0 5px gray;
border-radius: 8px;
width: 95%;
}
.tech-design1 a, .tech-design2 a{
text-decoration: none;
}
.tech-design1 h4, .tech-design2 h4{
text-align: center;
color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 24px;
font-weight: 600;
font-style: normal;
}
.tech-design1 p, .tech-design2 p{
margin: 5px;
color: rgba(128, 128, 128, 1);
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 500;
font-style: normal;
}
.tech-design1 span, .tech-design2 span{
background-color:rgba(243, 115, 53, 1);
padding: 1px 8px;
color: white;
margin: 5px;
}
/* third section */
.third-section{
background-color: whitesmoke;
padding: 50px;
}
.third-section h2{
color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 37px;
font-weight: 600;
font-style: normal;
text-align: center;
text-transform: uppercase;
background-image: url("/images/rectangle-392-2-lab.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 50px;
    padding: 50px;
}
.lit-art{
display: flex;
flex-direction: column;
}
.lit-art1{
padding: 10px;
margin: 20px;
background-color: white;
border-radius: 8px;
width: 100%;
}
.lit-art a{
text-decoration: none;
}
.lit-art1 h4{
text-align: center;
color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 24px;
font-weight: 600;
font-style: normal;
}
.lit-art p{
margin: 5px;
color: rgba(128, 128, 128, 1);
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 500;
font-style: normal;
}
.lit-art1 span{
background-color:rgba(243, 115, 53, 1);
padding: 1px 8px;
color: white;
margin: 5px;
}
/* forth section */
.forth-section{
background-color: whitesmoke;
padding: 50px;
}
.forth-section h2{
color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 37px;
font-weight: 600;
font-style: normal;
text-align: center;
text-transform: uppercase;
background-image: url("/images/rectangle-392-2-lab.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 50px;
    padding: 50px;
}
.executive-int{
display: flex;
flex-direction: column;
}
.executive-int1{
padding: 10px;
margin: 20px;
background-color: white;
border-radius: 8px;
width: 100%;
}
.executive-int a{
text-decoration: none;
}
.executive-int1 h4{
text-align: center;
color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 24px;
font-weight: 600;
font-style: normal;
}
.executive-int p{
margin: 5px;
color: rgba(128, 128, 128, 1);
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 500;
font-style: normal;
}
.executive-int1 span{
background-color:rgba(243, 115, 53, 1);
padding: 1px 8px;
color: white;
margin: 5px;
}

/* fifty section */
.fifty-section{
background-color: whitesmoke;
padding: 50px;
}
.fifty-section h2{
color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 37px;
font-weight: 600;
font-style: normal;
text-align: center;
text-transform: uppercase;
background-image: url("/images/rectangle-392-2-lab.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 50px;
    padding: 50px;
}
.talent-man{
display: flex;
flex-direction: column;
}
.talent-man1{
padding: 10px;
margin: 20px;
background-color: white;
border-radius: 8px;
width: 100%;
}
.talent-man a{
text-decoration: none;
}
.talent-man1 h4{
text-align: center;
color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 24px;
font-weight: 600;
font-style: normal;
}
.talent-man p{
margin: 5px;
color: rgba(128, 128, 128, 1);
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 500;
font-style: normal;
}
.talent-man1 span{
background-color:rgba(243, 115, 53, 1);
padding: 1px 8px;
color: white;
margin: 5px;
}

/* sixty section */
.sixty-section{
background-color: whitesmoke;
padding: 50px;
}
.sixty-section h2{
color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 37px;
font-weight: 600;
font-style: normal;
text-align: center;
text-transform: uppercase;
background-image: url("/images/rectangle-392-2-lab.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 50px;
    padding: 50px;
}
.general, .general-2{
display: flex;
flex-direction: column;
}
.general1, .general2{
padding: 10px;
margin: 20px;
background-color: white;
border-radius: 8px;
width: 100%;
}
.general a, .general-2 a{
text-decoration: none;
}
.general1 h4, .general2 h4{
text-align: center;
color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 24px;
font-weight: 600;
font-style: normal;
}
.general p, .general-2 p{
margin: 5px;
color: rgba(128, 128, 128, 1);
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 500;
font-style: normal;
}
.general1 span, .general2 span{
background-color:rgba(243, 115, 53, 1);
padding: 1px 8px;
color: white;
margin: 5px;
}
/* footer */
.footer{
display: flex;
flex-direction: column;
background-color: black;
padding: 50px;
}
.footer a, .footer p{
display: block;
padding: 5px;
text-decoration: none;
color: rgba(255, 255, 255, 1);
font-size:  16px;;
font-weight: 500;
font-style: normal;
}
.footer h3{
color: rgba(255, 255, 255, 1);
font-family:'Poppins', sans-serif;
font-size: 16px;
font-weight: 600;
font-style: normal;
}
.footer1, .footer2, .footer3, .footer4, .footer5{
padding: 10px;
margin: 20px;
width: 100%;
}

}

@media (max-width:800px) {
       
  .header a.logo{
   
    display: block;
  }
  .header-right{
    float: none;
    margin: 0 70px 0 50px;
  }
  .header-right a.reg{
    margin-right: 0;
    background-color: rgba(243, 115, 53, 1);
    border-radius: 8px;  
    padding: 10px 5px;
    color: rgba(255, 255, 255, 1);
    font-family:'Poppins', sans-serif;
  }
  .header a{display: none;}
  .header a.icon {
    float: right;
    display: block;
  }

  .header.responsive {position: relative;}
  .header.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  .first-section{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.first-section1{
    width: 100%;
    padding: 20px;
}
.first-section1 h1{
    color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 39px; 
font-weight: 600;
font-style: normal;
}
.first-section1 p{
    color: rgba(128, 128, 128, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    margin:0 50px;
}
.main-button {
    background-color: rgba(243, 115, 53, 1);
    border-radius: 8px;
    padding: 20px;
    border: none;
    color: rgba(255, 255, 255, 1);
    font-size:  1.2em;;
    font-weight: 500;
    font-style: normal;
    margin: 0 100px;
}
.main-button:hover{
  cursor: pointer;
  opacity: 0.7;
}

.first-section2 img{
  width: 100%;
  height: 400px;
}
/* second section */
.second-section h2{
    color: rgba(15, 28, 112, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    background-image: url("/images/rectangle-392-2-lab.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50px;
    padding: 50px 0 50px 0;
}
.tech-design, .tech-design-2{
display: flex;
flex-direction: column;
}
.tech-design1, .tech-design2{
padding: 10px;
margin: 20px;
box-shadow: 0 0 5px gray;
border-radius: 8px;
width: 90%;
}
.tech-design1 a, .tech-design2 a{
text-decoration: none;
}
.tech-design1 h4, .tech-design2 h4{
text-align: center;
color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 20px;
font-weight: 600;
font-style: normal;
}
.tech-design1 p, .tech-design2 p{
margin: 5px;
color: rgba(128, 128, 128, 1);
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 500;
font-style: normal;
}
.tech-design1 span, .tech-design2 span{
background-color:rgba(243, 115, 53, 1);
padding: 1px 8px;
color: white;
margin: 5px;
}
/* third section */
.third-section{
background-color: whitesmoke;
padding: 50px;
}
.third-section h2{
    color: rgba(15, 28, 112, 1); 
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    background-image: url("/images/rectangle-392-2-lab.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50px;
    padding: 50px 0 50px 0;
}
.lit-art{
display: flex;
flex-direction: column;
}
.lit-art1{
padding: 10px;
margin: 20px;
background-color: white;
border-radius: 8px;
width: 90%;
}
.lit-art a{
text-decoration: none;
}
.lit-art1 h4{
text-align: center;
color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 20px;
font-weight: 600;
font-style: normal;
}
.lit-art p{
margin: 5px;
color: rgba(128, 128, 128, 1);
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 500;
font-style: normal;
}
.lit-art1 span{
background-color:rgba(243, 115, 53, 1);
padding: 1px 8px;
color: white;
margin: 5px;
}
/* forth section */
.forth-section{
background-color: whitesmoke;
padding: 50px;
}
.forth-section h2{
  color: rgba(15, 28, 112, 1); 
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  background-image: url("/images/rectangle-392-2-lab.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50px;
  padding: 50px 0 50px 0;
}
.executive-int{
display: flex;
flex-direction: column;
}
.executive-int1{
padding: 10px;
margin: 20px;
background-color: white;
border-radius: 8px;
width: 90%;
}
.executive-int a{
text-decoration: none;
}
.executive-int1 h4{
text-align: center;
color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 20px;
font-weight: 600;
font-style: normal;
}
.executive-int p{
margin: 5px;
color: rgba(128, 128, 128, 1);
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 500;
font-style: normal;
}
.executive-int1 span{
background-color:rgba(243, 115, 53, 1);
padding: 1px 8px;
color: white;
margin: 5px;
}

/* fifty section */
.fifty-section{
background-color: whitesmoke;
padding: 50px;
}
.fifty-section h2{
  color: rgba(15, 28, 112, 1); 
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  background-image: url("/images/rectangle-392-2-lab.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50px;
  padding: 50px 0 50px 0;
}
.talent-man{
display: flex;
flex-direction: column;
}
.talent-man1{
padding: 10px;
margin: 20px;
background-color: white;
border-radius: 8px;
width: 90%;
}
.talent-man a{
text-decoration: none;
}
.talent-man1 h4{
text-align: center;
color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 20px;
font-weight: 600;
font-style: normal;
}
.talent-man p{
margin: 5px;
color: rgba(128, 128, 128, 1);
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 500;
font-style: normal;
}
.talent-man1 span{
background-color:rgba(243, 115, 53, 1);
padding: 1px 8px;
color: white;
margin: 5px;
}

/* sixty section */
.sixty-section{
background-color: whitesmoke;
padding: 50px;
}
.sixty-section h2{
  color: rgba(15, 28, 112, 1); 
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  background-image: url("/images/rectangle-392-2-lab.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50px;
  padding: 50px 0 50px 0;
}
.general, .general-2{
display: flex;
flex-direction: column;
}
.general1, .general2{
padding: 10px;
margin: 20px;
background-color: white;
border-radius: 8px;
width: 90%;
}
.general a, .general-2 a{
text-decoration: none;
}
.general1 h4, .general2 h4{
text-align: center;
color: rgba(15, 28, 112, 1); 
font-family: 'Poppins', sans-serif;
font-size: 20px;
font-weight: 600;
font-style: normal;
}
.general p, .general-2 p{
margin: 5px;
color: rgba(128, 128, 128, 1);
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 500;
font-style: normal;
}
.general1 span, .general2 span{
background-color:rgba(243, 115, 53, 1);
padding: 1px 8px;
color: white;
margin: 5px;
}
/* footer */
.footer{
display: flex;
flex-direction: column;
background-color: black;
padding: 50px;
}
.footer a, .footer p{
display: block;
padding: 5px;
text-decoration: none;
color: rgba(255, 255, 255, 1);
font-size:  16px;;
font-weight: 500;
font-style: normal;
}
.footer h3{
color: rgba(255, 255, 255, 1);
font-family:'Poppins', sans-serif;
font-size: 16px;
font-weight: 600;
font-style: normal;
}
.footer1, .footer2, .footer3, .footer4, .footer5{
padding: 10px;
margin: 20px;
width: 100%;
}
}