body{
    padding: 0;
    margin: 0;
    font-size: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}

/* The first section */
.firstdiv{
   background-color: whitesmoke;
   /* box-shadow: 0 0 2px gray; */
}
h1.work{
    font-size: 1rem;
    font-weight: 550;
    padding: 3% 3% 0;
    
}
.btn-clock{
    background-color: #fff;
    border-radius: 5px;
}
.containertime{
    display: flex;
}
.firstdiv1, .firstdiv2{
    width: 50%;
    margin: 0;
    padding: 3% 3% 0;
}
.btnsubmit{
    margin: -50px 3% 3%;
}
p#weekday{
    text-transform: uppercase;
    font-size: .8rem;
}
span#monthYearDay, span#monthDay, span#monthDayYear{
    font-size: .9rem;

}
span#timeBar{
    font-size: 1.5rem;
    color: blue;
}
span#total{
    margin: 0;
    font-size: .7rem;
}
.workTime{
    background-color: dodgerblue;
    height: 200px;
}
/* the Hours number */
.hours{
    margin:-20px 0 0 20px;
    display:inline-block;
    height: 142px;
    border-right: 1px solid black;
}
.hours24{
    margin: 0 0 10px 10px;
}
.hours12, .hours0{
    margin: 38px 0 10px 10px;  
}
/* the div that container meter with border bottom */
.borderdiv{
    margin:-57px 0 0 49px;
    border-bottom: 1px solid black;
}
/* To mover the meter button up after the rotation */
.meterdiv .marginmover{
    margin-left:-40px;
}
/* the meter style */
.meterdiv meter{
    transform: rotate(-90deg);
    margin-bottom:30px;
}



/* the project section */
.project{
    margin: 50px 0 0 0;
}
.divflexshow{
    display: flex;
    background-color: #fff;
    border-radius: 7px;
}
.flexshow1{
    padding: 3%;
    width: 70%;
}
.flexshow1 span{
    font-size: .8rem;
}
.flexshow2, .flexshow2-1, .flexshow2-2, .flexshow2-3{
    margin: 20px;
    width: 20%;
    border-radius: 5px;
    color: #fff;
    text-align: center;
}
.flexshow2{
    background-color: blue;
}
.flexshow2-1{
    background-color: green;
}
.icontext{
    font-size: 1.5rem;
    margin: 10px 12px;
}
.flexshow2-2{
    background-color: orange;
}
.flexshow2-3{
    background-color: orangered;
}
/* activities */
.activities{
    margin: 30px 0 50px 0;
}
.activities a{
    color: #f83;
    text-decoration: none;
}
.insideToday{
    background-color: #fff;
    border-radius: 5px;
}
.birthday, .Meeting, .Attendees, .Presentation, .Presentation1-1{
    display: flex;
}
.birthday1, .Meeting1, .Attendees1, .Presentation1, .Presentation1-1{
    margin: 10px 0 0 20px;
}
.birthday1 h5{
    font-size: .9rem;
}
.birthday1 p{
    font-size: 1rem;
}
.birthday2{
    margin: 16px 20px 0 auto;
}

/* meeting section */
.Meeting1{
    width: 70%;
}
.Meeting1 h5, .Meeting2 h5{
    font-size: .9rem;
}
.Meeting1 p, .Meeting2 p{
    font-size: 1rem;
}

/* Attendees section */

.Attendees1 h5{
    font-size: .9rem;
}
.Attendees1 img{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #114;
    margin: 0 0 0 -8px;
}
.Attendees2{
    margin: 16px 20px 20px auto;
    border: 1px solid black;
    /* padding: 0 30px; */
}
#icontime, #iconcircle{
    font-size: 1rem;
    padding: 0 9px;
    border-right: 1px solid black;
}
#iconcheck{
    font-size: 1rem;
    padding: 1px 9px;
    background-color: red; 
}

/* Presentation section */
.Presentation1{
    width: 70%;
}
.Presentation2{
    margin: 0 0 0 5px;
 }
.Presentation1 h5, .Presentation2 h5{
    font-size: .9rem;
}
.Presentation1 p, .Presentation2 p{
    font-size: 1rem;
}

/* Second Presentation Section */

.Presentation1-2{
    width: 70%;
}
.Presentation1-3{
   margin: 0 0 0 22px;
}
.Presentation1-2 h5, .Presentation1-3 h5{
    font-size: .9rem;
}
.Presentation1-2 p, .Presentation1-3 p{
    font-size: 1rem;
}