body{
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0; 
    width: 100%;
    color: gray;
    }
  
    .container{
      position: relative;
      overflow-x: hidden;
    }
  
  .header_static{
    width: 100%;
    height: 40px;
    position: fixed;
    background-color: rgba(0,0,0,0.9);
    top: 0;
    left: 0;
  } 
  .header_static .span{
    display: block;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: 8px;
    left: 30px;
    color: white;
  }
  .header_static nav{
    display: flex;
  }
  .header_static img{
    position: absolute;
    top: 5px;
    left: 10px;
    width: 30px;
    height: 25px;
  }
  .active{
    background-color: black;
  }
  .sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 40px;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
    margin: 0 0 0 -20px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
    margin: 4px 0;
  }
  
  .sidenav a:hover {
    background-color:black;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: none;
  }
  .sidenav span{
    display: block;
    font-size: 18px;
  }
  .sidenav nav{
    display: flex;
  }
  .nav__icon{
    margin: 5px 0 0 0;
  }
  nav img{
    margin: 0;
  }
  nav span{
    margin: 0 0 0 20px;
  }
  span{
      font-size:30px;
      cursor:pointer;
      display: none;
  }
  
  .sidenav img{
    width: 20px;
    height: 20px;
  }
  
  .changecolor{
    color:  rgba(243, 115, 53, 1);
  }
  .changecolor:hover{
    cursor: not-allowed;
  }
  .icons{
    position: absolute;
    top: 10px;
    right: 50px;
  }
  .icons a{
    margin: 0 10px;
    color: whitesmoke;
}
.btn-back{
  position: absolute;
  top: 7px;
  left: 200px;
  border: none;
  padding: 5px;
  border-radius:4px;
  font-size: 14px;
}
.btn-home{
  position: absolute;
  top: 7px;
  left: 270px;
  border: none;
  padding: 5px;
  border-radius:4px;
  font-size: 14px;
}
.mainsection{
    margin: 40px 20px 0 20px;
}
h2{
    background-color:  rgba(243, 115, 53, 1);
    color: white;
    padding: 5px;
    font-size: 20px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin: 0;
    margin-top: 30px;
}
.firstsection, .secondsection, .thirdsection, .forthsection, .fiftysection, .sixtysection, .sevensection, .eigthsection{
    background-color: whitesmoke;
    padding:20px 20px 50px 20px;
    font-size: 20px;
    margin: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.firstsection form{
    display: flex;
    flex-direction: column;
    margin:0 400px;
}
.firstsection input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 16px;
    padding: 10px;
}
.firstsection button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgba(243, 115, 53, 1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
}
.firstsection button:hover{
    cursor: pointer;
}
.secondsection form{
   display: block;
}
.secondsection label{
  font-size: 14px;
}
.secondsection input{
  margin-left: 30px;
}
.thirdsection form{
    display: flex;
}
.verify{
    display:inline-block;
    font-size: 14px;
    background-color: rgba(243, 115, 53, 1);
    padding: 10px;
    border-radius: 8px;
    color: white;
}

.insideform{
   width: 30%;
}
.insideform1{
    width: 60%;
    margin: 0 20px;
}
.thirdsection input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px;
    width: 50%;
}
.thirdsection button {
    padding: 10px;
    margin-top: 10px;
    width: 70%;
    color: white;
    background-color: rgba(243, 115, 53, 1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
}
.firstsection button:hover{
    cursor: pointer;
}
.thirdsection p{
    font-size: 14px;
    width: 70%;
    text-align: justify;
}
.insideffsection{
    display: flex;
}
.insideffsection select{
    width: 30%;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px;
    height: 40px;
    margin: 0;
    margin-top: 20px;
}
.insideffsection p{
    width: 30%;
    font-size: 20px;
}
.insidesixtysection{
    display: flex;
}
.insidesixtysection p{
    width: 30%;
    font-size: 14px;
}
.insidesixtysection input{
    margin-top: 19px;
}
.sevensection p{
    margin: 0;
    margin-left: 400px;
    font-size: 14px;
}
.sevensection form{
  display: flex;
  flex-direction: column;
}


.sevensection input{
    width: 70%;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px;
    margin: 0;
}
.sevensection label {
  margin-top: 20px;
}
.sevensection select{
    width: 72%;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px;
    height: 40px;
    margin: 0;
}
.eigthsection button {
    padding: 10px;
    margin-top: 10px;
    color: white;
    background-color: rgba(243, 115, 53, 1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
}
.eigthsectionbutton:hover{
    cursor: pointer;
}
.eigthsection p{
    font-size: 14px;
}
.eigthsection{
    margin-bottom: 50px;
}

@media (max-width:1350px) { 
  .sidenav {padding-top: 15px;}
 .sidenav span {font-size: 20px;}
 .sidenav { width: 0; }
 .sidenav .closebtn { display: block;}
 span{ display: block; text-align: right; margin: 0 20px 0 0;color: white;}

  .firstsection form{
    margin:0;
  }
  /* .secondsection form{
  display: flex;
  flex-direction: column;
  }
  .mlabel{
    display: flex;
    flex-direction:row;
    width: 50%;
    font-size: 16px;
  } */
  .minput{
    width: 80%;
    font-size: 27px;
    margin: 0;
    margin-top: -10px;
  }
  .thirdsection form{
    display: flex;
    flex-direction: column;
  }
  .verify{
    display:inline-block;
    font-size: 14px;
    background-color: rgba(243, 115, 53, 1);
    padding: 10px;
    border-radius: 8px;
    color: white;
  }

  .insideform{
  width: 100%;
  }
  .insideform1{
    width: 100%;
    margin: 0;
  }
  .thirdsection input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px;
    width: 80%;
  }
  .thirdsection button {
    width: 100%;
  }
  .thirdsection p{
    width: 100%;
  }
  .insideffsection{
    display: flex;
    flex-direction: column;
  }
  .insideffsection select{
    width: 100%;
  }
  .insideffsection p{
    width: 100%;
  }
  .insidesixtysection{
    display: flex;
    flex-direction: column;
  }
  .insidesixtysection p{
    width: 100%;
    font-size: 14px;
  }
  .insidesixtysection input{
    margin-top: 19px;
  }
  .sevensection p{
    margin: 0;
    margin-left:0;
    font-size: 14px;
  }

  .sevensection input{
    width: 90%;
}

.sevensection select{
    width: 95%;
}

    .eigthsection button {
    padding: 10px;
    margin-top: 10px;
    color: white;
    background-color: rgba(243, 115, 53, 1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }
  .eigthsectionbutton:hover{
    cursor: pointer;
  }
  .eigthsection p{
    font-size: 14px;
  }
  .eigthsection{
    margin-bottom: 50px;
  }
}

@media (max-width:800px) { 
.verify{
 margin:20px 0;
  }
}
@media (max-width:600px) {
  .btn-back{
    left: 180px;
  }
}
@media (max-width:400px) {
  .btn-back{
    left: 160px;
  }
  .icons a{
    margin: 0 2px;
    color: whitesmoke;
}
}