body{
width: 100%;
box-sizing: border-box;
overflow-x: hidden;

}
.header{
  overflow: hidden;
  background-color:rgba(255, 255, 255, 1);
  padding: 20px 30px;
}
/* styling the header link */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 25px;
  border-radius: 4px;
  text-transform: uppercase;
  font-family:'Poppins', sans-serif;
}
/* styling the logo */

.header a.logo{
  font-size: 1.7em;
  font-weight: bold;
}
/* hover */
.header a:hover{
  background-color: #ddd;
  color: black;
}
.header a.active{
  /* background-color: dodgerblue; */
  color: rgba(243, 115, 53, 1);
}
.header-right{
  float: none;
  margin-left: 400px;
}
.header-right a.reg{
  margin-left: 10px;
  background-color: rgba(243, 115, 53, 1);
  border-radius: 8px;  
  padding: 10px 15px;
  color: rgba(255, 255, 255, 1);
  font-family:'Poppins', sans-serif;
}

  
    .group-416 {
    height: 77px;
    left: 120px;
    position: absolute;
    top: 53px;
    width: 1210px;
 }
  
    .new-png-mleage-1 {
    height: 40px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 18px;
    width: 184px;
  }
  
    .frame-411 {
    height: 77px;
    left: 497px;
    position: absolute;
    top: 0;
    width: 713px;
  }
  
    .place {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 26px;
  }
  
    .innovation-opportunity {
    left: 80px;
    letter-spacing: 0;
    position: absolute;
    top: 26px;
  }
  
    .group-410 {
    height: 24px;
    left: 299px;
    position: absolute;
    top: 26px;
    width: 153px;
  }
  
    .ip-acceleration {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .iconly-light-outline-arrow-down-2 {
    height: 24px;
    left: 127px;
    position: absolute;
    top: 0;
    width: 24px;
  }
  
    .lab {
    left: 482px;
    letter-spacing: 0;
    position: absolute;
    top: 26px;
  }
  
    .frame-7888 {
    background-color:rgba(243, 115, 53, 1);
    border-radius: 8px;
    height: 77px;
    left: 543px;
    position: absolute;
    top: 0;
    width: 170px;
  }
  
    .create-account-1 {
    left: 22px;
    letter-spacing: 0;
    position: absolute;
    top: 26px;
  }
  
    .overlap-group2 {
    height: 832px;
    left: 120px;
    position: absolute;
    top: 161px;
    width: 1384px;
  }
  
    .frame-415 {
    height: 349px;
    left: 20px;
    position: absolute;
    top: 212px;
    width: 530px;
  }
  
    .group-411 {
    height: 228px;
    left: 0;
    position: absolute;
    top: 0;
    width: 534px;
  }

.title {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 530px;
  }
    .our-vision-is-to-sim {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 150px;
    width: 387px;
  }
  
    .main-button {
        background-color: rgba(243, 115, 53, 1);
        border-radius: 8px;
        left: 0;
        position: absolute;
        top: 270px;    
        padding: 20px;
        border: none;
        color: rgba(255, 255, 255, 1);
        font-family:'Poppins', sans-serif;
        font-size:  1.2em;;
        font-weight: 500;
        font-style: normal;
    }
    .main-button:hover{
      cursor: pointer;
      opacity: 0.7;
    }
    
    
    /* {
    background-color: rgba(243, 115, 53, 1);
    border-radius: 8px;
    height: 89px;
    left: 0;
    position: absolute;
    top: 260px;
    width: 248px;
  }
  
    .create-account-2 {
    left: 60px;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  } */
  
  .vector-4{
    width: 800px;
    height: 550px;
    position: absolute;
    left: 650px;
    top: 160px;
}
.rectangle-390{
    position: absolute;
    width: 600px;
    height: 500px;
    top: 180px;
    left: 700px;
    /* vertical-align: top; */
}

    /* .vector-4 {
    height: 800px;
    left: 429px;
    position: absolute;
    top: 0;
    width: 955px;
  }
  
    .rectangle-390 {
    height: 744px;
    left: 584px;
    object-fit: cover;
    position: absolute;
    top: 15px;
    width: 658px;
  } */
  
    .frame-7890 {
    background-color:rgba(255, 255, 255, 1);
    border-radius: 8px;
    box-shadow: 0px 40px 120px 
  #0000001f;
    height: 130px;
    left: 150px;
    position: absolute;
    top: 580px;
    width: 357px;
  }

  .frame-7891-1 {
    background-color:rgba(255, 255, 255, 1);
    border-radius: 8px;
    box-shadow: 0px 40px 120px 
  #0000001f;
    height: 130px;
    left: 550px;
    position: absolute;
    top: 580px;
    width: 357px;
  }
  
    .thanks-to-marketleag {
    left: 34px;
    letter-spacing: 0;
    position: absolute;
    top: 20px;
    width: 290px;
  }
  
    .group-413 {
    height: 60px;
    left: 34px;
    position: absolute;
    top: 30px;
    width: 213px;
  }
  
    .group-412 {
    height: 53px;
    left: 68px;
    position: absolute;
    top: 3px;
    width: 149px;
  }
  
    .romanorff-aguda {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .ceo-beehive {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .ellipse-9 {
    height: 60px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 60px;
  }
  
    .frame-7891 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    box-shadow: 0px 40px 120px 
  #0000001f;
    height: 130px;
    left: 950px;
    position: absolute;
    top: 580px;
    width: 357px;
    /* animation-name:test ; */
  }
  
    .building-a-digital-a {
    left: 34px;
    letter-spacing: 0;
    position: absolute;
    top: 20px;
    width: 290px;
  }
  
    .group-413-1 {
    height: 60px;
    left: 34px;
    position: absolute;
    top: 27px;
    width: 212px;
  }
  
    .group-412-1 {
    height: 53px;
    left: 68px;
    position: absolute;
    top: 3px;
    width: 148px;
  }
  
    .name {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .ceo-pixelsby-kem {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .group-454 {
    background-color: #f9f9f9;
    height: 367px;
    left: 0;
    position: absolute;
    top: 800px;
    width: 1440px;
  }
  
    .group-418 {
    height: 208px;
    left: 382px;
    position: absolute;
    top: 48px;
    width: 681px;
  }
  
  .we-are-trused-by-sev {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 677px;
  }
  
    .x-our {
    left: 90px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 136px;
    width: 498px;
  }
  
    .frame-7892 {
    height: 30px;
    left: 179px;
    position: absolute;
    top: 288px;
    width: 1082px;
  }
  
    .group-431 {
    height: 588px;
    left: 120px;
    position: absolute;
    top: 1220px;
    width: 1200px;
  }
  
    .group-430 {
    height: 588px;
    left: 0;
    position: absolute;
    top: 0;
    width: 484px;
  }
  
    .frame-7895 {
    background-color:rgba(255, 255, 255, 1);
    border-radius: 8px;
    box-shadow: 0px 44px 120px 
  #0000001f;
    height: 270px;
    left: 0;
    position: absolute;
    top: 0;
    width: 470px;
  }
  
    .group-423 {
    height: 88px;
    left: 24px;
    position: absolute;
    top: 19px;
    width: 369px;
  }
  
    .group-420 {
    height: 88px;
    left: 0;
    position: absolute;
    top: 0;
    width: 88px;
  }
  
    .group-422 {
    height: 88px;
    left: 104px;
    position: absolute;
    top: 0;
    width: 267px;
  }
  
    .self-school {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .group-421 {
    height: 36px;
    left: 0;
    position: absolute;
    top: 52px;
    width: 265px;
  }
  
    .frame-7893 {
    background-color: rgba(243, 115, 53, 0.122);
    border-radius: 100px;
    height: 36px;
    left: 0;
    position: absolute;
    top: 0;
    width: 121px;
  }
  
    .education {
    left: 20px;
    letter-spacing: 0;
    position: absolute;
    top: 6px;
  }
  
    .frame-7894 {
    background-color: rgba(243, 115, 53, 0.122);
    border-radius: 100px;
    height: 36px;
    left: 129px;
    position: absolute;
    top: 0;
    width: 136px;
  }
  
    .access-500-free-c {
    left: 14px;
    letter-spacing: 0;
    position: absolute;
    top: 131px;
    width: 450px;
  }
  
    .frame-7896 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    box-shadow: 0px 44px 120px #0000001f;
    height: 270px;
    left: 42px;
    position: absolute;
    top: 318px;
    width: 442px;
  }
  
    .group-423-1 {
    height: 88px;
    left: 24px;
    position: absolute;
    top: 31px;
    width: 297px;
  }
  
    .group-422-1 {
    height: 88px;
    left: 104px;
    position: absolute;
    top: 0;
    width: 195px;
  }
  
    .dashup {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .frame-421 {
    height: 36px;
    left: 0;
    position: absolute;
    top: 52px;
    width: 193px;
  }
  
    .frame-7893-1 {
    background-color: rgba(243, 115, 53, 0.122);
    border-radius: 100px;
    height: 36px;
    left: 0;
    position: absolute;
    top: 0;
    width: 111px;
  }
  
    .frame-7894-1 {
    background-color:rgba(243, 115, 53, 0.122);
    border-radius: 100px;
    height: 36px;
    left: 119px;
    position: absolute;
    top: 0;
    width: 74px;
  }
  
    .dashup-offers-a-vast {
    left: 24px;
    letter-spacing: 0;
    position: absolute;
    top: 143px;
    width: 395px;
  }
  
    .frame-7897 {
    height: 321px;
    left: 535px;
    position: absolute;
    top: 133px;
    width: 665px;
  }
  
    .frame-425 {
    height: 200px;
    left: 0;
    position: absolute;
    top: 0;
    width: 665px;
  }
  
    .x-you {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 665px;
  }
  
    .visit-our-bazaar-for {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 128px;
    width: 473px;
  }
  
    .main-button-1 {
    background-color:rgba(243, 115, 53, 1);
    border-radius: 8px;
    height: 89px;
    left: 0;
    position: absolute;
    top: 232px;
    width: 248px;
  }
  
    .create-account {
    left: 78px;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .overlap-group3 {
    background-color: rgba(10, 10, 10, 1);
    border-radius: 20px;
    height: 656px;
    left: 120px;
    position: absolute;
    top: 1850px;
    width: 1200px;
  }
  
    .frame-7899 {
    background-color: rgba(33, 33, 33, 1);
    border-radius: 8px;
    height: 283px;
    left: 735px;
    position: absolute;
    top: 29px;
    width: 453px;
  }
  
    .frame-427 {
    height: 154px;
    left: 29px;
    position: absolute;
    top: 29px;
    width: 395px;
  }
  
    .group-425 {
    height: 66px;
    left: 0;
    position: absolute;
    top: 0;
    width: 184px;
  }
  
    .rectangle-393 {
    height: 66px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 66px;
  }
  
 .aurelius {
    left: 82px;
    letter-spacing: 0;
    position: absolute;
    top: 15px;
  }
  
    .x-is-a {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 82px;
    width: 395px;
  }
  
    .group-426 {
    height: 47px;
    left: 29px;
    position: absolute;
    top: 207px;
    width: 165px;
  }
  
    .ellipse-10 {
    height: 40px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 3px;
    width: 40px;
  }
  
    .frame-413 {
    height: 47px;
    left: 48px;
    position: absolute;
    top: 0;
    width: 117px;
  }
  
    .name-1 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .ceo {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 29px;
  }
  
    .frame-container {
    height: 417px;
    left: 32px;
    position: absolute;
    top: 210px;
    width: 1090px;
  }
  
    .frame-7900 {
    background-color: rgba(33, 33, 33, 1);
    border-radius: 8px;
    height: 283px;
    left: 637px;
    position: absolute;
    top: 134px;
    width: 453px;
  }
  
    .group-425-1 {
    height: 66px;
    left: 0;
    position: absolute;
    top: 0;
    width: 197px;
  }
  
    .dailydev {
    left: 82px;
    letter-spacing: 0;
    position: absolute;
    top: 15px;
  }
  
    .group-426-1 {
    height: 47px;
    left: 29px;
    position: absolute;
    top: 207px;
    width: 133px;
  }
  
    .frame-413-1 {
    height: 47px;
    left: 48px;
    position: absolute;
    top: 0;
    width: 85px;
  }
  
    .armin-zeke {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .frame-426 {
    height: 236px;
    left: 0;
    position: absolute;
    top: 0;
    width: 665px;
  }
  
    .submit-your-idea-for {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 188px;
    width: 524px;
  }
    .group-452 {
    height: 532px;
    left: 120px;
    position: absolute;
    top: 2550px;
    width: 1200px;
  }
  
    .group-438 {
    background-image: url(/images/rectangle-396-1.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 532px;
    left: 555px;
    position: absolute;
    top: 0;
    width: 645px;
  }
  
    .group-437 {
    height: 216px;
    left: 513px;
    position: absolute;
    top: 32px;
    width: 100px;
  }
  
    .group-436 {
    height: 80px;
    left: 177px;
    position: absolute;
    top: 441px;
    width: 244px;
  }
  
    .group-433 {
    height: 80px;
    left: 82px;
    position: absolute;
    top: 0;
    width: 80px;
  }
  
    .group-435 {
    background-color:rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    height: 50px;
    left: 0;
    position: absolute;
    top: 15px;
    width: 50px;
  }
  
    .iconly-bold-v {
    height: 24px;
    left: 13px;
    position: absolute;
    top: 13px;
    width: 24px;
  }
  
    .group-434 {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    height: 50px;
    left: 194px;
    position: absolute;
    top: 15px;
    width: 50px;
  }
  
    .frame-7898 {
    height: 357px;
    left: 0;
    position: absolute;
    top: 88px;
    width: 513px;
  }
  
    .frame-425-1 {
    height: 236px;
    left: 0;
    position: absolute;
    top: 0;
    width: 513px;
  }
  
    .connect-with-intelle {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 513px;
  }
  
    .meet-amazing-profess {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 188px;
    width: 473px;
  }
  
    .main-button-2 {
    background-color: rgba(243, 115, 53, 1);
    border-radius: 8px;
    height: 89px;
    left: 0;
    position: absolute;
    top: 268px;
    width: 248px;
  }
  
    .group-440 {
    height: 516px;
    left: -37px;
    position: absolute;
    top: 3100px;
    width: 1525px;
  }
  
    .overlap-group1 {
    height: 516px;
    position: relative;
  }
  
    .rectangle-399 {
    background-color: rgba(252, 252, 252, 1);
    height: 516px;
    left: 37px;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
    .group-439 {
    height: 286px;
    left: 419px;
    position: absolute;
    top: 115px;
    width: 677px;
  }
  
    .frame-419 {
    height: 184px;
    left: 0;
    position: absolute;
    top: 0;
    width: 677px;
  }
  
    .industrial-innovatio {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 677px;
  }
  
    .overlap-group {
    background-color: rgba(247, 247, 247, 1);
    border-radius: 8px;
    height: 70px;
    left: 94px;
    position: absolute;
    top: 216px;
    width: 490px;
  }
  
    .frame-3 {
    background-color: rgba(243, 115, 53, 1);
    border-radius: 8px;
    height: 70px;
    left: 322px;
    position: absolute;
    top: 0;
    width: 168px;
    border: none;
  }
  
    /* .join-us {
    left: 54px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 23px;
  } */
  
    /* .your-email-address {
    left: 16px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 23px;
  } */

  .your-email{
    left: 0;
    letter-spacing: 0;
    position: absolute;
    /* text-align: center; */
    background-color:rgb(236,243,254);
    top: 0px;
    padding: 25px 58px;
    border: none;
    outline: none;
    border-radius: 8px;
  }
  .your-email:focus{
    background-color:rgb(243,192,142);
  }
  
    .sphere-orange-glossy {
    height: 187px;
    left: 0;
    position: absolute;
    top: 0;
    width: 250px;
  }
  
    .sphere-orange-glossy-1 {
    height: 178px;
    left: 1275px;
    position: absolute;
    top: 338px;
    width: 250px;
  }
  
    .group-451 {
    height: 722px;
    left: 120px;
    position: absolute;
    top: 3650px;
    width: 1202px;
  }
  
    .how-we-work {
    left: 461px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 0;
  }
  
    .frame-7904 {
    height: 630px;
    left: 0;
    position: absolute;
    top: 92px;
    width: 1200px;
  }
  
    .how-we-work-card {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    height: 630px;
    left: 0;
    position: absolute;
    top: 0;
    width: 399px;
  }
  
    .group-443 {
    height: 60px;
    left: 26px;
    position: absolute;
    top: 32px;
    width: 196px;
  }
  
    .challenge {
    left: 68px;
    letter-spacing: 0;
    position: absolute;
    top: 12px;
  }
  
    .group-442 {
    background-color:rgba(255, 193, 7, 0.122);
    border-radius: 12px;
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 60px;
  }
  
    .group-441 {
    height: 30px;
    left: 16px;
    position: absolute;
    top: 15px;
    width: 29px;
  }
  
    .frame-444 {
    height: 408px;
    left: 26px;
    position: absolute;
    top: 108px;
    width: 347px;
  }
  
    .frame-7901 {
    height: 200px;
    left: 0;
    position: absolute;
    top: 0;
    width: 347px;
  }
  
    .crowdsourcers-who-ar {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 347px;
  }
  
    .post-new-challenges {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 80px;
    width: 347px;
  }
  
    .frame-7902 {
    height: 176px;
    left: 0;
    position: absolute;
    top: 232px;
    width: 347px;
  }
  
    .solvers-take-up-the {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 347px;
  }
  
    .register-to-create-a {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 80px;
    width: 347px;
  }
  
    .how-we-work-card-1 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    box-shadow: 0px 44px 120px 
  #0000001f;
    height: 630px;
    left: 400px;
    position: absolute;
    top: 0;
    width: 399px;
  }
  
    .group-443-1 {
    height: 60px;
    left: 26px;
    position: absolute;
    top: 32px;
    width: 151px;
  }
  
    .challenge-1 {
    left: 68px;
    letter-spacing: 0;
    position: absolute;
    top: 12px;
  }
  
    .frame-442 {
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 60px;
  }
  
    .frame-444-1 {
    height: 480px;
    left: 26px;
    position: absolute;
    top: 108px;
    width: 347px;
  }
  
    .frame-7901-1 {
    height: 224px;
    left: 0;
    position: absolute;
    top: 0;
    width: 347px;
  }
  
    .corporations-source {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 347px;
  }
  
    .visit-innovation-clu {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 80px;
    width: 347px;
  }
  
    .frame-7902-1 {
    height: 224px;
    left: 0;
    position: absolute;
    top: 256px;
    width: 347px;
  }
  
    .innovators-who-are-a {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 347px;
  }
  
    .register-to-create-a-1 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 104px;
    width: 347px;
  }
  
    .how-we-work-card-2 {
    background-color:rgba(255, 255, 255, 1);
    border-radius: 20px;
    height: 630px;
    left: 801px;
    position: absolute;
    top: 0;
    width: 399px;
  }
  
    .group-443-2 {
    height: 60px;
    left: 26px;
    position: absolute;
    top: 32px;
    width: 241px;
  }
  
    .ip-help-center {
    left: 68px;
    letter-spacing: 0;
    position: absolute;
    top: 12px;
  }
  
    .frame-444-2 {
    height: 336px;
    left: 26px;
    position: absolute;
    top: 108px;
    width: 347px;
  }
  
    .frame-7901-2 {
    height: 152px;
    left: 0;
    position: absolute;
    top: 0;
    width: 347px;
  }
  
    .businesses-and-indiv {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 347px;
  }
  
    .register-to-create-a-2 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 80px;
    width: 347px;
  }
  
    .frame-7902-2 {
    height: 152px;
    left: 0;
    position: absolute;
    top: 184px;
    width: 347px;
  }
  
    .experts-within-afric {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 347px;
  }
  
    .enlist-their-experti {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 80px;
    width: 347px;
  }
  
    .group-450 {
    background-color: rgba(10, 10, 10, 1);
    height: 476px;
    left: 0;
    position: absolute;
    top: 4400px;
    width: 1440px;
  }
  
    .group-448 {
    height: 94px;
    left: 120px;
    position: absolute;
    top: 72px;
    width: 217px;
  }
  
    .new-png-mleage-mark-2 {
    height: 30px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 35px;
  }
  
    .simplifying-the-innovation-process {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 46px;
    width: 215px;
  }
  
    .frame-15 {
    height: 166px;
    left: 415px;
    position: absolute;
    top: 72px;
    width: 113px;
  }
  
    .hotspots {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .frame-11 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 46px;
    width: 113px;
  }
  
    .challenge-2 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .bazzar {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .ip-help-center-1 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
    .lab-1 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
    .group-449 {
    height: 332px;
    left: 608px;
    position: absolute;
    top: 72px;
    width: 162px;
  }
  
    .frame-7899-1 {
    height: 134px;
    left: 0;
    position: absolute;
    top: 0;
    width: 92px;
  }
  
    .about-us {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .frame-11-1 {
    height: 88px;
    left: 0;
    position: absolute;
    top: 46px;
    width: 81px;
  }
  
    .company {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .products {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .team {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
    .frame-7900-1 {
    height: 166px;
    left: 0;
    position: absolute;
    top: 166px;
    width: 162px;
  }
  
    .place-1 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .frame-11-2 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 46px;
    width: 162px;
  }
  
    .privacy-policy {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .terms-agreement {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .news-blog {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
    .faq {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
    .frame-7901-3 {
    height: 326px;
    left: 849px;
    position: absolute;
    top: 72px;
    width: 183px;
  }
  
    .industries {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .frame-11-3 {
    height: 280px;
    left: 0;
    position: absolute;
    top: 46px;
    width: 183px;
  }
  
    .place-2 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .agric-agro-allied {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 32px;
  }
  
    .pharmaceutical {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 64px;
  }
  
    .healthcare-medicine {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 96px;
  }
  
    .electronics {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 128px;
  }
  
    .logistics {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 160px;
  }
  
    .education-1 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 192px;
  }
  
    .finance {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 224px;
  }
  
    .ict-software {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 256px;
  }
  
    .frame-7902-3 {
    height: 318px;
    left: 1112px;
    position: absolute;
    top: 72px;
    width: 208px;
  }
  
    .contact-us {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .frame-11-4 {
    height: 272px;
    left: 0;
    position: absolute;
    top: 46px;
    width: 208px;
  }
  
    .customer-service-hellomarketleagcom {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
  }
  
    .ip-acceleration-ipamarketleagcom {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 56px;
  }
  
    .innovation-partnersh {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 112px;
  }
  
    .resource-center-labmarketleagcom {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 168px;
  }
  
    .solvers-support-solversmarketleagcom {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 224px;
  }
  
  /* @import url("https://fonts.googleapis.com/css?family=Poppins:400,700,500,600,800"); */
  
  .screen a {
    display: contents;
    text-decoration: none;
  }
  
  .container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
  }
  
  .container-center-horizontal > * {
    flex-shrink: 0;
    pointer-events: auto;
  }
  /* font and color */
  .poppins-medium-white-16px {
    color: rgba(255, 255, 255, 1);
    font-family:'Poppins', sans-serif;
    font-size:  16px;;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-medium-gray-14px {
    color: rgba(79, 79, 79, 1); 
    font-family:'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-white-20px {
    color: rgba(255, 255, 255, 1);
    font-family:'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-white-14px {
    color: rgba(255, 255, 255, 1);
    font-family:'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-mine-shaft-24px {
    color: rgba(41, 41, 41, 1); 
    font-family:'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-normal-white-12px {
    color: rgba(255, 255, 255, 1);
    font-family:'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-semi-bold-abbey-20px {
    color: rgba(51, 51, 51, 1); 
    font-family:'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-mine-shaft-40px {
    color: rgba(41, 41, 41, 1); 
    font-family:'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-burning-orange-20px {
    color: rgba(243, 115, 53, 0.122); 
    font-family:'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-mine-shaft-20px {
    color: rgba(41, 41, 41, 1); 
    font-family:'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-medium-abbey-16px {
    color: rgba(51, 51, 51, 1);
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-normal-gray-14px {
    color: gray; 
    font-family:'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-medium-gray-16px {
    color:rgb(128,128,128); 
    font-family:'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-lucky-point-16px {
    color:rgb(128,128,128); 
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-lucky-point-49px {
    color:rgb(20,39,126); 
    font-family:'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-medium-burning-orange-16px {
    color:rgb(211,119,91);
    font-family:'Poppins', sans-serif;
    font: size 14px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-white-40px {
    color:rgb(219,232,253);
    font-family:'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-normal-gray-16px {
    color:rgba(79, 79, 79, 1);
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-semi-bold-lucky-point-24px {
    color: rgba(15, 28, 112, 0.039);
    font-family:'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-lucky-point-40px {
    color:rgb(25,49,138);
    font-family:'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-medium-cod-gray-16px {
    color: rgba(0, 0, 0, 1);
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-mine-shaft-16px {
    color:rgba(41, 41, 41, 1);
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-medium-white-14px {
    color: rgba(255, 255, 255, 0.2);
    font-family:'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-white-24px {
    color:rgb(236,243,254);
    font-family:'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-white-16px {
    color: rgba(255, 255, 255, 0.2);
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-cod-gray-40px {
    color: rgba(0, 0, 0, 1);
    font-family:'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-bold-lucky-point-20px {
    color: rgba(15, 28, 112, 0.039);
    font-family:'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
  }
  .poppins-medium-white-40px {
    color: rgba(255, 255, 255, 0.2);
    font-family:'Poppins', sans-serif;
    font-size:24px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-everglade-16px {
    color: rgba(26, 68, 31, 1);
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-white-16px{
    color:rgb(236,243,254);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  }
  