.marketleag-home-page {
  background-color: var(--white);
  height: 5410px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.marketleag-home-page .group-416 {
  height: 77px;
  left: 120px;
  position: absolute;
  top: 53px;
  width: 1210px;
}

.marketleag-home-page .new-png-mleage-1 {
  height: 40px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 184px;
}

.marketleag-home-page .frame-411 {
  height: 77px;
  left: 497px;
  position: absolute;
  top: 0;
  width: 713px;
}

.marketleag-home-page .place {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 26px;
}

.marketleag-home-page .innovation-opportunity {
  left: 80px;
  letter-spacing: 0;
  position: absolute;
  top: 26px;
}

.marketleag-home-page .group-410 {
  height: 24px;
  left: 299px;
  position: absolute;
  top: 26px;
  width: 153px;
}

.marketleag-home-page .ip-acceleration {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.marketleag-home-page .iconly-light-outline-arrow-down-2 {
  height: 24px;
  left: 127px;
  position: absolute;
  top: 0;
  width: 24px;
}

.marketleag-home-page .lab {
  left: 482px;
  letter-spacing: 0;
  position: absolute;
  top: 26px;
}

.marketleag-home-page .frame-7888 {
  background-color: var(--burning-orange);
  border-radius: 8px;
  height: 77px;
  left: 543px;
  position: absolute;
  top: 0;
  width: 170px;
}

.marketleag-home-page .create-account-1 {
  left: 22px;
  letter-spacing: 0;
  position: absolute;
  top: 26px;
}

.marketleag-home-page .overlap-group2 {
  height: 832px;
  left: 120px;
  position: absolute;
  top: 161px;
  width: 1384px;
}

.marketleag-home-page .frame-415 {
  height: 349px;
  left: 0;
  position: absolute;
  top: 112px;
  width: 530px;
}

.marketleag-home-page .group-411 {
  height: 228px;
  left: 0;
  position: absolute;
  top: 0;
  width: 534px;
}

.marketleag-home-page .title {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 530px;
}

.marketleag-home-page .our-vision-is-to-sim {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 156px;
  width: 387px;
}

.marketleag-home-page .main-button {
  background-color: var(--burning-orange);
  border-radius: 8px;
  height: 89px;
  left: 0;
  position: absolute;
  top: 260px;
  width: 248px;
}

.marketleag-home-page .create-account-2 {
  left: 60px;
  letter-spacing: 0;
  position: absolute;
  top: 32px;
}

.marketleag-home-page .vector-4 {
  height: 800px;
  left: 429px;
  position: absolute;
  top: 0;
  width: 955px;
}

.marketleag-home-page .rectangle-390 {
  height: 744px;
  left: 584px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 658px;
}

.marketleag-home-page .frame-7890 {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 40px 120px 
#0000001f;
  height: 200px;
  left: 426px;
  position: absolute;
  top: 330px;
  width: 357px;
}

.marketleag-home-page .thanks-to-marketleag {
  left: 34px;
  letter-spacing: 0;
  position: absolute;
  top: 106px;
  width: 290px;
}

.marketleag-home-page .group-413 {
  height: 60px;
  left: 34px;
  position: absolute;
  top: 30px;
  width: 213px;
}

.marketleag-home-page .group-412 {
  height: 53px;
  left: 68px;
  position: absolute;
  top: 3px;
  width: 149px;
}

.marketleag-home-page .romanorff-aguda {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.marketleag-home-page .ceo-beehive {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 32px;
}

.marketleag-home-page .ellipse-9 {
  height: 60px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 60px;
}

.marketleag-home-page .frame-7891 {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 40px 120px 
#0000001f;
  height: 200px;
  left: 936px;
  position: absolute;
  top: 632px;
  width: 357px;
}

.marketleag-home-page .building-a-digital-a {
  left: 34px;
  letter-spacing: 0;
  position: absolute;
  top: 110px;
  width: 290px;
}

.marketleag-home-page .group-413-1 {
  height: 60px;
  left: 34px;
  position: absolute;
  top: 27px;
  width: 212px;
}

.marketleag-home-page .group-412-1 {
  height: 53px;
  left: 68px;
  position: absolute;
  top: 3px;
  width: 148px;
}

.marketleag-home-page .name {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.marketleag-home-page .ceo-pixelsby-kem {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 32px;
}

.marketleag-home-page .group-454 {
  background-color: 
#f9f9f9;
  height: 367px;
  left: 0;
  position: absolute;
  top: 1073px;
  width: 1440px;
}

.marketleag-home-page .group-418 {
  height: 208px;
  left: 382px;
  position: absolute;
  top: 48px;
  width: 681px;
}

.marketleag-home-page .we-are-trused-by-sev {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 677px;
}

.marketleag-home-page .x-our {
  left: 90px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 136px;
  width: 498px;
}

.marketleag-home-page .frame-7892 {
  height: 30px;
  left: 179px;
  position: absolute;
  top: 288px;
  width: 1082px;
}

.marketleag-home-page .group-431 {
  height: 588px;
  left: 120px;
  position: absolute;
  top: 1520px;
  width: 1200px;
}

.marketleag-home-page .group-430 {
  height: 588px;
  left: 0;
  position: absolute;
  top: 0;
  width: 484px;
}

.marketleag-home-page .frame-7895 {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 44px 120px 
#0000001f;
  height: 270px;
  left: 0;
  position: absolute;
  top: 0;
  width: 442px;
}

.marketleag-home-page .group-423 {
  height: 88px;
  left: 24px;
  position: absolute;
  top: 19px;
  width: 369px;
}

.marketleag-home-page .group-420 {
  height: 88px;
  left: 0;
  position: absolute;
  top: 0;
  width: 88px;
}

.marketleag-home-page .group-422 {
  height: 88px;
  left: 104px;
  position: absolute;
  top: 0;
  width: 267px;
}

.marketleag-home-page .self-school {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.marketleag-home-page .group-421 {
  height: 36px;
  left: 0;
  position: absolute;
  top: 52px;
  width: 265px;
}

.marketleag-home-page .frame-7893 {
  background-color: var(--burning-orange-2);
  border-radius: 100px;
  height: 36px;
  left: 0;
  position: absolute;
  top: 0;
  width: 121px;
}

.marketleag-home-page .education {
  left: 20px;
  letter-spacing: 0;
  position: absolute;
  top: 6px;
}

.marketleag-home-page .frame-7894 {
  background-color: var(--burning-orange-2);
  border-radius: 100px;
  height: 36px;
  left: 129px;
  position: absolute;
  top: 0;
  width: 136px;
}

.marketleag-home-page .access-500-free-c {
  left: 24px;
  letter-spacing: 0;
  position: absolute;
  top: 131px;
  width: 395px;
}

.marketleag-home-page .frame-7896 {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 44px 120px 
#0000001f;
  height: 270px;
  left: 42px;
  position: absolute;
  top: 318px;
  width: 442px;
}

.marketleag-home-page .group-423-1 {
  height: 88px;
  left: 24px;
  position: absolute;
  top: 31px;
  width: 297px;
}

.marketleag-home-page .group-422-1 {
  height: 88px;
  left: 104px;
  position: absolute;
  top: 0;
  width: 195px;
}

.marketleag-home-page .dashup {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.marketleag-home-page .frame-421 {
  height: 36px;
  left: 0;
  position: absolute;
  top: 52px;
  width: 193px;
}

.marketleag-home-page .frame-7893-1 {
  background-color: var(--burning-orange-2);
  border-radius: 100px;
  height: 36px;
  left: 0;
  position: absolute;
  top: 0;
  width: 111px;
}

.marketleag-home-page .frame-7894-1 {
  background-color: var(--burning-orange-2);
  border-radius: 100px;
  height: 36px;
  left: 119px;
  position: absolute;
  top: 0;
  width: 74px;
}

.marketleag-home-page .dashup-offers-a-vast {
  left: 24px;
  letter-spacing: 0;
  position: absolute;
  top: 143px;
  width: 395px;
}

.marketleag-home-page .frame-7897 {
  height: 321px;
  left: 535px;
  position: absolute;
  top: 133px;
  width: 665px;
}

.marketleag-home-page .frame-425 {
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 665px;
}

.marketleag-home-page .x-you {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 665px;
}

.marketleag-home-page .visit-our-bazaar-for {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 128px;
  width: 473px;
}

.marketleag-home-page .main-button-1 {
  background-color: var(--burning-orange);
  border-radius: 8px;
  height: 89px;
  left: 0;
  position: absolute;
  top: 232px;
  width: 248px;
}

.marketleag-home-page .create-account {
  left: 78px;
  letter-spacing: 0;
  position: absolute;
  top: 32px;
}

.marketleag-home-page .overlap-group3 {
  background-color: var(--cod-gray);
  border-radius: 20px;
  height: 656px;
  left: 120px;
  position: absolute;
  top: 2188px;
  width: 1200px;
}

.marketleag-home-page .frame-7899 {
  background-color: var(--log-cabin);
  border-radius: 8px;
  height: 283px;
  left: 735px;
  position: absolute;
  top: 29px;
  width: 453px;
}

.marketleag-home-page .frame-427 {
  height: 154px;
  left: 29px;
  position: absolute;
  top: 29px;
  width: 395px;
}

.marketleag-home-page .group-425 {
  height: 66px;
  left: 0;
  position: absolute;
  top: 0;
  width: 184px;
}

.marketleag-home-page .rectangle-393 {
  height: 66px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 66px;
}

.marketleag-home-page .aurelius {
  left: 82px;
  letter-spacing: 0;
  position: absolute;
  top: 15px;
}

.marketleag-home-page .x-is-a {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 82px;
  width: 395px;
}

.marketleag-home-page .group-426 {
  height: 47px;
  left: 29px;
  position: absolute;
  top: 207px;
  width: 165px;
}

.marketleag-home-page .ellipse-10 {
  height: 40px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 40px;
}

.marketleag-home-page .frame-413 {
  height: 47px;
  left: 48px;
  position: absolute;
  top: 0;
  width: 117px;
}

.marketleag-home-page .name-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.marketleag-home-page .ceo {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 29px;
}

.marketleag-home-page .frame-container {
  height: 417px;
  left: 32px;
  position: absolute;
  top: 210px;
  width: 1090px;
}

.marketleag-home-page .frame-7900 {
  background-color: var(--log-cabin);
  border-radius: 8px;
  height: 283px;
  left: 637px;
  position: absolute;
  top: 134px;
  width: 453px;
}

.marketleag-home-page .group-425-1 {
  height: 66px;
  left: 0;
  position: absolute;
  top: 0;
  width: 197px;
}

.marketleag-home-page .dailydev {
  left: 82px;
  letter-spacing: 0;
  position: absolute;
  top: 15px;
}

.marketleag-home-page .group-426-1 {
  height: 47px;
  left: 29px;
  position: absolute;
  top: 207px;
  width: 133px;
}

.marketleag-home-page .frame-413-1 {
  height: 47px;
  left: 48px;
  position: absolute;
  top: 0;
  width: 85px;
}

.marketleag-home-page .armin-zeke {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.marketleag-home-page .frame-426 {
  height: 236px;
  left: 0;
  position: absolute;
  top: 0;
  width: 665px;
}

.marketleag-home-page .submit-your-idea-for {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 188px;
  width: 524px;
}

.marketleag-home-page .group-452 {
  height: 532px;
  left: 120px;
  position: absolute;
  top: 2924px;
  width: 1200px;
}

.marketleag-home-page .group-438 {
  background-image: url(rectangle-396-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 532px;
  left: 555px;
  position: absolute;
  top: 0;
  width: 645px;
}

.marketleag-home-page .group-437 {
  height: 216px;
  left: 513px;
  position: absolute;
  top: 32px;
  width: 100px;
}

.marketleag-home-page .group-436 {
  height: 80px;
  left: 177px;
  position: absolute;
  top: 441px;
  width: 244px;
}

.marketleag-home-page .group-433 {
  height: 80px;
  left: 82px;
  position: absolute;
  top: 0;
  width: 80px;
}

.marketleag-home-page .group-435 {
  background-color: var(--white-2);
  border-radius: 25px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 50px;
}

.marketleag-home-page .iconly-bold-v {
  height: 24px;
  left: 13px;
  position: absolute;
  top: 13px;
  width: 24px;
}

.marketleag-home-page .group-434 {
  background-color: var(--white-2);
  border-radius: 25px;
  height: 50px;
  left: 194px;
  position: absolute;
  top: 15px;
  width: 50px;
}

.marketleag-home-page .frame-7898 {
  height: 357px;
  left: 0;
  position: absolute;
  top: 88px;
  width: 513px;
}

.marketleag-home-page .frame-425-1 {
  height: 236px;
  left: 0;
  position: absolute;
  top: 0;
  width: 513px;
}

.marketleag-home-page .connect-with-intelle {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 513px;
}

.marketleag-home-page .meet-amazing-profess {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 188px;
  width: 473px;
}

.marketleag-home-page .main-button-2 {
  background-color: var(--burning-orange);
  border-radius: 8px;
  height: 89px;
  left: 0;
  position: absolute;
  top: 268px;
  width: 248px;
}

.marketleag-home-page .group-440 {
  height: 516px;
  left: -37px;
  position: absolute;
  top: 3536px;
  width: 1525px;
}

.marketleag-home-page .overlap-group1 {
  height: 516px;
  position: relative;
}

.marketleag-home-page .rectangle-399 {
  background-color: var(--baby-powder);
  height: 516px;
  left: 37px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.marketleag-home-page .group-439 {
  height: 286px;
  left: 419px;
  position: absolute;
  top: 115px;
  width: 677px;
}

.marketleag-home-page .frame-419 {
  height: 184px;
  left: 0;
  position: absolute;
  top: 0;
  width: 677px;
}

.marketleag-home-page .industrial-innovatio {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 677px;
}

.marketleag-home-page .overlap-group {
  background-color: var(--black-haze);
  border-radius: 8px;
  height: 70px;
  left: 94px;
  position: absolute;
  top: 216px;
  width: 490px;
}

.marketleag-home-page .frame-3 {
  background-color: var(--burning-orange);
  border-radius: 8px;
  height: 70px;
  left: 322px;
  position: absolute;
  top: 0;
  width: 168px;
}

.marketleag-home-page .join-us {
  left: 54px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 23px;
}

.marketleag-home-page .your-email-address {
  left: 16px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 23px;
}

.marketleag-home-page .sphere-orange-glossy {
  height: 187px;
  left: 0;
  position: absolute;
  top: 0;
  width: 250px;
}

.marketleag-home-page .sphere-orange-glossy-1 {
  height: 178px;
  left: 1275px;
  position: absolute;
  top: 338px;
  width: 250px;
}

.marketleag-home-page .group-451 {
  height: 722px;
  left: 120px;
  position: absolute;
  top: 4132px;
  width: 1202px;
}

.marketleag-home-page .how-we-work {
  left: 461px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
}

.marketleag-home-page .frame-7904 {
  height: 630px;
  left: 0;
  position: absolute;
  top: 92px;
  width: 1200px;
}

.marketleag-home-page .how-we-work-card {
  background-color: var(--white);
  border-radius: 20px;
  height: 630px;
  left: 0;
  position: absolute;
  top: 0;
  width: 399px;
}

.marketleag-home-page .group-443 {
  height: 60px;
  left: 26px;
  position: absolute;
  top: 32px;
  width: 196px;
}

.marketleag-home-page .challenge {
  left: 68px;
  letter-spacing: 0;
  position: absolute;
  top: 12px;
}

.marketleag-home-page .group-442 {
  background-color: var(--amber);
  border-radius: 12px;
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 60px;
}

.marketleag-home-page .group-441 {
  height: 30px;
  left: 16px;
  position: absolute;
  top: 15px;
  width: 29px;
}

.marketleag-home-page .frame-444 {
  height: 408px;
  left: 26px;
  position: absolute;
  top: 108px;
  width: 347px;
}

.marketleag-home-page .frame-7901 {
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 347px;
}

.marketleag-home-page .crowdsourcers-who-ar {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 347px;
}

.marketleag-home-page .post-new-challenges {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 80px;
  width: 347px;
}

.marketleag-home-page .frame-7902 {
  height: 176px;
  left: 0;
  position: absolute;
  top: 232px;
  width: 347px;
}

.marketleag-home-page .solvers-take-up-the {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 347px;
}

.marketleag-home-page .register-to-create-a {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 80px;
  width: 347px;
}

.marketleag-home-page .how-we-work-card-1 {
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 44px 120px 
#0000001f;
  height: 630px;
  left: 400px;
  position: absolute;
  top: 0;
  width: 399px;
}

.marketleag-home-page .group-443-1 {
  height: 60px;
  left: 26px;
  position: absolute;
  top: 32px;
  width: 151px;
}

.marketleag-home-page .challenge-1 {
  left: 68px;
  letter-spacing: 0;
  position: absolute;
  top: 12px;
}

.marketleag-home-page .frame-442 {
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 60px;
}

.marketleag-home-page .frame-444-1 {
  height: 480px;
  left: 26px;
  position: absolute;
  top: 108px;
  width: 347px;
}

.marketleag-home-page .frame-7901-1 {
  height: 224px;
  left: 0;
  position: absolute;
  top: 0;
  width: 347px;
}

.marketleag-home-page .corporations-source {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 347px;
}

.marketleag-home-page .visit-innovation-clu {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 80px;
  width: 347px;
}

.marketleag-home-page .frame-7902-1 {
  height: 224px;
  left: 0;
  position: absolute;
  top: 256px;
  width: 347px;
}

.marketleag-home-page .innovators-who-are-a {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 347px;
}

.marketleag-home-page .register-to-create-a-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 104px;
  width: 347px;
}

.marketleag-home-page .how-we-work-card-2 {
  background-color: var(--white);
  border-radius: 20px;
  height: 630px;
  left: 801px;
  position: absolute;
  top: 0;
  width: 399px;
}

.marketleag-home-page .group-443-2 {
  height: 60px;
  left: 26px;
  position: absolute;
  top: 32px;
  width: 241px;
}

.marketleag-home-page .ip-help-center {
  left: 68px;
  letter-spacing: 0;
  position: absolute;
  top: 12px;
}

.marketleag-home-page .frame-444-2 {
  height: 336px;
  left: 26px;
  position: absolute;
  top: 108px;
  width: 347px;
}

.marketleag-home-page .frame-7901-2 {
  height: 152px;
  left: 0;
  position: absolute;
  top: 0;
  width: 347px;
}

.marketleag-home-page .businesses-and-indiv {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 347px;
}

.marketleag-home-page .register-to-create-a-2 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 80px;
  width: 347px;
}

.marketleag-home-page .frame-7902-2 {
  height: 152px;
  left: 0;
  position: absolute;
  top: 184px;
  width: 347px;
}

.marketleag-home-page .experts-within-afric {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 347px;
}

.marketleag-home-page .enlist-their-experti {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 80px;
  width: 347px;
}

.marketleag-home-page .group-450 {
  background-color: var(--cod-gray);
  height: 476px;
  left: 0;
  position: absolute;
  top: 4934px;
  width: 1440px;
}

.marketleag-home-page .group-448 {
  height: 94px;
  left: 120px;
  position: absolute;
  top: 72px;
  width: 217px;
}

.marketleag-home-page .new-png-mleage-mark-2 {
  height: 30px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 35px;
}

.marketleag-home-page .simplifying-the-innovation-process {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 46px;
  width: 215px;
}

.marketleag-home-page .frame-15 {
  height: 166px;
  left: 415px;
  position: absolute;
  top: 72px;
  width: 113px;
}

.marketleag-home-page .hotspots {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.marketleag-home-page .frame-11 {
  height: 120px;
  left: 0;
  position: absolute;
  top: 46px;
  width: 113px;
}

.marketleag-home-page .challenge-2 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.marketleag-home-page .bazzar {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 32px;
}

.marketleag-home-page .ip-help-center-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 64px;
}

.marketleag-home-page .lab-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 96px;
}

.marketleag-home-page .group-449 {
  height: 332px;
  left: 608px;
  position: absolute;
  top: 72px;
  width: 162px;
}

.marketleag-home-page .frame-7899-1 {
  height: 134px;
  left: 0;
  position: absolute;
  top: 0;
  width: 92px;
}

.marketleag-home-page .about-us {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.marketleag-home-page .frame-11-1 {
  height: 88px;
  left: 0;
  position: absolute;
  top: 46px;
  width: 81px;
}

.marketleag-home-page .company {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.marketleag-home-page .products {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 32px;
}

.marketleag-home-page .team {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 64px;
}

.marketleag-home-page .frame-7900-1 {
  height: 166px;
  left: 0;
  position: absolute;
  top: 166px;
  width: 162px;
}

.marketleag-home-page .place-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.marketleag-home-page .frame-11-2 {
  height: 120px;
  left: 0;
  position: absolute;
  top: 46px;
  width: 162px;
}

.marketleag-home-page .privacy-policy {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.marketleag-home-page .terms-agreement {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 32px;
}

.marketleag-home-page .news-blog {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 64px;
}

.marketleag-home-page .faq {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 96px;
}

.marketleag-home-page .frame-7901-3 {
  height: 326px;
  left: 849px;
  position: absolute;
  top: 72px;
  width: 183px;
}

.marketleag-home-page .industries {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.marketleag-home-page .frame-11-3 {
  height: 280px;
  left: 0;
  position: absolute;
  top: 46px;
  width: 183px;
}

.marketleag-home-page .place-2 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.marketleag-home-page .agric-agro-allied {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 32px;
}

.marketleag-home-page .pharmaceutical {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 64px;
}

.marketleag-home-page .healthcare-medicine {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 96px;
}

.marketleag-home-page .electronics {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 128px;
}

.marketleag-home-page .logistics {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 160px;
}

.marketleag-home-page .education-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 192px;
}

.marketleag-home-page .finance {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 224px;
}

.marketleag-home-page .ict-software {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 256px;
}

.marketleag-home-page .frame-7902-3 {
  height: 318px;
  left: 1112px;
  position: absolute;
  top: 72px;
  width: 208px;
}

.marketleag-home-page .contact-us {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.marketleag-home-page .frame-11-4 {
  height: 272px;
  left: 0;
  position: absolute;
  top: 46px;
  width: 208px;
}

.marketleag-home-page .customer-service-hellomarketleagcom {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.marketleag-home-page .ip-acceleration-ipamarketleagcom {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 56px;
}

.marketleag-home-page .innovation-partnersh {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 112px;
}

.marketleag-home-page .resource-center-labmarketleagcom {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 168px;
}

.marketleag-home-page .solvers-support-solversmarketleagcom {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 224px;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,500,600,800");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}


  /* font and color */
  .poppins-medium-white-16px {
    color: rgba(255, 255, 255, 1);
    font-family:'Poppins', sans-serif;
    font-size:  16px;;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-medium-gray-14px {
    color: rgba(79, 79, 79, 1); 
    font-family:'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-white-20px {
    color: rgba(255, 255, 255, 1);
    font-family:'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-white-14px {
    color: rgba(255, 255, 255, 1);
    font-family:'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-mine-shaft-24px {
    color: rgba(41, 41, 41, 1); 
    font-family:'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-normal-white-12px {
    color: rgba(255, 255, 255, 1);
    font-family:'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-semi-bold-abbey-20px {
    color: rgba(51, 51, 51, 1); 
    font-family:'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-mine-shaft-40px {
    color: rgba(41, 41, 41, 1); 
    font-family:'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-burning-orange-20px {
    color: rgba(243, 115, 53, 0.122); 
    font-family:'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-mine-shaft-20px {
    color: rgba(41, 41, 41, 1); 
    font-family:'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-medium-abbey-16px {
    color: rgba(51, 51, 51, 1);
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-normal-gray-14px {
    color: rgba(15, 28, 112, 0.039); 
    font-family:'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-medium-gray-16px {
    color: rgba(15, 28, 112, 0.039); 
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-lucky-point-16px {
    color: rgba(15, 28, 112, 0.039); 
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-lucky-point-49px {
    color: rgba(15, 28, 112, 0.039); 
    font-family:'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-medium-burning-orange-16px {
    color: rgba(243, 115, 53, 0.122);
    font-family:'Poppins', sans-serif;
    font: size 14px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-white-40px {
    color: rgba(255, 255, 255, 0.2);
    font-family:'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-normal-gray-16px {
    color:rgba(79, 79, 79, 1);
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-semi-bold-lucky-point-24px {
    color: rgba(15, 28, 112, 0.039);
    font-family:'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-lucky-point-40px {
    color: rgba(15, 28, 112, 0.039);
    font-family:'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-medium-cod-gray-16px {
    color: rgba(0, 0, 0, 1);
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-mine-shaft-16px {
    color:rgba(41, 41, 41, 1);
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-medium-white-14px {
    color: rgba(255, 255, 255, 0.2);
    font-family:'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-white-24px {
    color: rgba(255, 255, 255, 0.2);
    font-family:'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-white-16px {
    color: rgba(255, 255, 255, 0.2);
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-semi-bold-cod-gray-40px {
    color: rgba(0, 0, 0, 1);
    font-family:'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-bold-lucky-point-20px {
    color: rgba(15, 28, 112, 0.039);
    font-family:'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
  }
  .poppins-medium-white-40px {
    color: rgba(255, 255, 255, 0.2);
    font-family:'Poppins', sans-serif;
    font-size:24px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-everglade-16px {
    color: rgba(26, 68, 31, 1);
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
  }